[2020-10-21 12:57] giancorderoortiz commented on #4620
Retest in https://github.com/SAP/spartacus/issues/9455

[2020-10-21 13:00] Manurod2018 commented on #9329
Banners are here on Teams:
https://teams.microsoft.com/_#/files/Visual%20Refresh%20Fall%202020?threadId=19%3Aa6d5899054a044bcb194911edae0819d%40thread.tacv2&ctx=channel&context=Visual%2520Refresh%2520Fall%25202020&rootfolder=%252Fteams%252FSPAMobileStrategy%252FShared%2520Documents%252FVisual%2520Refresh%2520Fall%25202020
Or Sharepoint:
https://sap.sharepoint.com/teams/SPAMobileStrategy/Shared%20D

[2020-10-21 13:23] LTiger14 opened #9456 "Disable B2B user Spartacus fix"
Following investigations on issue https://github.com/SAP/spartacus/issues/9358, It was determined to be a backend issue.

Due to the delays associated with the changes in the platform, this issue aims to mitigate the problems we are seeing on the backend in Spartacus.

### Changes to be made

As reported in #9358, a disabled user can still access the storefront and perform actions he is authorized

[2020-10-21 13:33] giancorderoortiz commented on #9395
Updated cxci1,2,3 ✅

[2020-10-21 13:44] Xymmer commented on #8883
Issue triaged.
- Make sure SmartEdit team is aware as it pertains to webapp injector
- And find out if we have to update our documentation

@giancorderoortiz : You can close this issue after alerting SmartEdit team.

[2020-10-21 13:49] Xymmer commented on #8884
Let's investigate if this is really an issue, we weren't sure if it's our issue.

[2020-10-21 13:50] steinsebastian commented on #9330
Seems to be independent from the change. I'll look into it.

[2020-10-21 13:53] Xymmer commented on #8886
Please confirm that this is not an issue; figure out how to 'nocheckmarx' it.
Stan/Kris available to answer questions.

[2020-10-21 14:22] Xymmer commented on #9271
ready

[2020-10-21 14:22] Xymmer commented on #9275
ready

[2020-10-21 14:23] Xymmer commented on #9273
Ready
if you recall Amy did designs for this a while back

[2020-10-21 15:16] hackergil commented on #9016
Heard from another team that we got 30 new Travis jobs added to the pool. Retrying this

[2020-10-21 15:31] saad-mo commented on #7785
Local QA was performed by me some time ago by doing the following:

1. Enable`b2b` in `environment.ts`
2. Build and open the local Project and in the browser
3. Click on 'Sign In / Register'
4. Observe that there is no Register button on the page
5. Also verify that you cannot navigate directly to the registration page by going to `/login/register`

Side Note: A Small UX issue was ignored at the t

[2020-10-21 15:33] saad-mo commented on #9371
how to do QA?

[2020-10-21 15:42] Platonn commented on #8907
I confirm the bug. I created address in United States and region Louisiana and saved. Then I tried editing the country and reseting the region, but I got `400` error from backend when I've tried saving changes. I tried sending to backend various alternatives for `region`:
- no `region` field
- `region: null`
- `region: { isocode: null }`

In each case I got the `400` error complaining that the Lou

[2020-10-21 15:52] saad-mo commented on #9155
Tested happy patch on latest develop on local and it works as expected.

[2020-10-21 15:57] saad-mo commented on #9360
I do not have access to the project. Could you please add me? (saad.mohiuddin@sap.com / saadm)

[2020-10-21 16:02] hackergil opened #9461 "[HOLD] Run regression tests on CCv2"
Run regression tests on CCv2 to make sure everything is working on 3.0-RC running on PM2

We already have a Jenkins job for it. It needs to be updated to use the new CCv2 once it's ready to go.

Depends on #7648

[2020-10-21 16:02] saad-mo commented on #9360
Performed QA on the latest develop on local and works as expected.

<img width="1056" alt="Screen Shot 2020-10-21 at 11 01 57 AM" src="https://user-images.githubusercontent.com/15215400/96746595-f6173f80-138c-11eb-9e74-8995cc3cc701.png">

[2020-10-21 16:12] Pucek9 opened #9462 "[german, japanese] Add translations to organization home page"
Mostly about provide proper translation for [my-company content ](https://cxwiki.sap.com/display/spar/B2B+My+Company+Texts#B2BMyCompanyTexts-HomeforMyCompany) in files below:

- [ ] [cms-responsive-content_de ](https://github.tools.sap/cx-commerce/spartacussampledata/blob/release/2005/next/resources-lang/spartacussampledata/import/contentCatalogs/powertoolsContentCatalog/cms-responsive-content_de.

[2020-10-21 16:12] saad-mo commented on #7828
Tested on latest develop on local and works as expected

![Screen Shot 2020-10-21 at 11 12 01 AM](https://user-images.githubusercontent.com/15215400/96747753-4ba01c00-138e-11eb-9724-19a62927fafe.png)

[2020-10-21 16:13] #8533 closed, assigned to Pucek9

[2020-10-21 16:29] giancorderoortiz commented on #9395
Smoke test results:
cxci1  https://dashboard.cypress.io/projects/k3nmep/runs/5336

cxc2 https://dashboard.cypress.io/projects/k3nmep/runs/5337

cxc3 https://dashboard.cypress.io/projects/k3nmep/runs/5338

Load - balancer:
https://20.55.3.176/occ/v2/swagger-ui.html

https://dashboard.cypress.io/projects/k3nmep/runs/5340

Checkout test fails. however, this is an internal issue, not related to deploy

[2020-10-21 16:43] ren-tham commented on #8845
PR: (#9463 )
Solution proposed, for now I only display the unit symbols. Please send back the ticket if more information is required.

Before:

<img width="340" alt="Before" src="https://user-images.githubusercontent.com/71661414/96751250-f1598800-139a-11eb-87b8-42a9d3cd3a29.PNG">

After:

<img width="395" alt="After" src="https://user-images.githubusercontent.com/71661414/96751275-fa4a5980-139a-1

[2020-10-21 17:37] plabadie opened #9464 "Enable lazy loading for order approvals [depends on GH-9423]"
Once the refactoring in GH-9423 is done:
* Check if it's easy enough to lazily load the order-approval feature.

[2020-10-21 17:44] #8231 closed, assigned to LTiger14

[2020-10-21 19:18] vekterdude commented on #9265
Catalog:
When displaying search or category results, only one product representing the variant family should appear.

In the accelerator catalog there are ways to select variants from a quick view feature. Is including this (restyling, mostly) this part of the story. If not, does add to cart button in the catalog need to be turned off when variants are turned on?

![quick_view_menu](https://user-i

[2020-10-21 19:33] vekterdude commented on #9265
Shopping Cart:
Behavior should be similar to variants.

At present, there does not appear to be even a way back to the pdp to edit the variants from the shopping cart.

![location_of_edit_delete](https://user-images.githubusercontent.com/44620139/96772703-8798a880-13b1-11eb-9df3-5f0332ca7d51.png)

We can add an edit action to the menu pictured above, or we can open the quick view window as a modal

[2020-10-21 19:48] vekterdude commented on #9265
Checkout:
Phase 1 would mean we display multi-dimensional products as individual products (like variants).

Again like the shopping cart, users can usually edit their selections until the final review of the shopping cart. Are we proposing that:
1. There is no editing - user must delete the product and start again with the correct variant restarting their journey in the pdp including manually find

[2020-10-21 20:20] LTiger14 opened #9465 "Approvers list changes based on what list you checked before"
**Describe the bug**
When navigating directly to a unit's approvers the list of assigned approvers is displayed correctly. If a user clicks on users and then on approvers again the list is different and incorect.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Administrator
2. _Make sure to have a unit with at least one approver assign and to have a customer for the same unit_
3. Go

[2020-10-21 20:35] zebercut commented on #9395
Closing the ticket. It is related to schematics which is in progress: https://github.com/SAP/spartacus/issues/7965

[2020-10-21 21:24] hackergil commented on #9395
Reopening. This is different than #7965

[2020-10-22 00:28] #9367 closed, assigned to giancorderoortiz

[2020-10-22 07:54] medzneel commented on #9223
https://sapse.invisionapp.com/share/HKYHZ8KF4EP#/screens

Invision updated.

[2020-10-22 07:57] medzneel commented on #9274
Need to talk to developer to finalize the design. I had given recommendations to the intern who was working on it.

[2020-10-22 08:17] tobi-or-not-tobi opened #9466 "Add specific selectors to all organization components"
Previously we dropped a lot of specific selectors for the organization feature. The reason being, that most elements should be using the `display:contents` to avoid a broken flexbox flow (in the `cx-split-view`). This results in a DOM with a lot of `ng-component` selectors. These elements are hard to debug, and it blocks to add specific styling. While the later is not something Spartacus will do o

[2020-10-22 09:20] Platonn commented on #8907
Some alternative possible workaounds:
1. delete and re-create address, when the country has been changed
   - pros: transparent to user
   - cons: more complexity (custom case to handle) with different http calls,
   - unknowns: deleting and re-creating will change the address ID. Will it be a problem? User would expect he only edited the data of old address.

2. disable the `Country` field specif

[2020-10-22 09:31] Platonn commented on #8907
I can confirm that the same issue happens when editing Country in the standard `my-account/address-book` section, even in B2C storefront (http://localhost:4200/electronics-spa/en/USD/my-account/address-book)
HTTP PATCH `/occ/v2/electronics-spa/users/current/addresses/:addressId`
[code]
Got 400 error:
[code]
FYI @frankgrupe

[2020-10-22 09:58] wangzixi-diablo commented on #4620
Hello @giancorderoortiz ,

how about test result?

Best Regards,
Jerry

[2020-10-22 10:34] schuppell opened #9467 "[MED] product title not rendered correctly when product name is empty."
Change language to german.
Navigate to home theater config page.
product title is empty and looks strange

add min-block-size: 1rem; to cx-title class in scss file.

[2020-10-22 11:18] #9449 closed, assigned to mirkosoft

[2020-10-22 11:19] #8810 closed, assigned to MichaelBoeser

[2020-10-22 11:19] #9454 closed, assigned to schuppell

[2020-10-22 11:51] Xymmer commented on #9366
we need more specific info , pointing to visuals is very general
often we break tasks into smaller tickets for must-do now vs later

[2020-10-22 11:52] Xymmer commented on #9364
we need more specific info,
often we break tasks into smaller tickets for must-do now vs later
also replicating my company style to everywhere else is not something we will do just to replenishment but i assume everywhere, unless i'm misunderstanding

[2020-10-22 11:58] dunqan opened #9468 "Lazy loading causes SSR flickering"
When lazy loaded feature exists on a page, SSR may flicker.

We should reproduce this behavior and fix it if possible.

[2020-10-22 12:07] mirkosoft opened #9469 "Post-release improvements"
While doing a `3.0.0-next.5` release few minor issues appeared:
- not clear instructions for sampledata versioning step [release github issue template]
- inconsistent name of the release command for `storefront` library
- minor release steps improvements [release github issue template]

[2020-10-22 12:20] Platonn commented on #8907
btw. I observed other issues when editing unit address (unrelated to this ticket):
- When created US address, refreshed page and the opening the edit from, the Regions control is loaded with a delay (due to penging backend call for regions - which is OK), but when loaded, the original value `region.isocode` is reset to `null`, but should remain the original value. The issue doesn't happen when reg

[2020-10-22 13:09] Xymmer commented on #8891
We use this purposely so cannot change it.
We need a dev to investigate how to get checkmarx to ignore this issue or this "theme" of security issues.

[2020-10-22 13:11] Xymmer commented on #8890
This is shell app we use for development, but we don't release it
we'll exclude it from the scan

[2020-10-22 13:13] Xymmer commented on #8889
projects\storefrontapp\src\test-outlets\test-outlet-component\test-outlet-component.component.html
This is shell app, we don't ship it
let's exclude from scan

projects\storefrontlib\src\cms-components\myaccount\order\return-request-list\order-return-request-list.component.html
it's rated low, but check if it really needs fixing, it says it's line 1 and non-specific

[2020-10-22 13:17] Xymmer commented on #8888
Note: rerun the checkmarx scan with correct settings, i.e. for an Angular app.

False positive, doesn't seem to make sense.
Investigate how we can get checkmarx to ignore this one.

[2020-10-22 13:18] Xymmer opened #9471 "Re-run checkmarx but check settings"
To ensure we're getting accurate results, rerun checkmarx.
- Make sure it's configured to scan an Angular app
- Make sure all test files are ignored (*.spec.ts)
- Exclude the shell app

Then re-run and check results against existing checkmarx issues:
https://github.com/SAP/spartacus/labels/checkmarx
Check with GC about what to report if anything new.

[2020-10-22 13:20] Xymmer commented on #8887
Closing as we are going to configure checkmark to ignore test files.

[2020-10-22 13:29] Xymmer commented on #7869
These are test servers. Nice to have to hide them.
1. Create mechanism that pulls server from configuration somewhere, and build spa
2. Special attention to pipeline

[2020-10-22 13:32] Xymmer commented on #8027
Let's investigate if still a problem, and fix

[2020-10-22 13:42] #8418 closed, assigned to mszczepaniak, Pucek9

[2020-10-22 13:43] jeannewalters commented on #9364
On hover of the line in the table in My Company, there is a state on it that shows you can click it. Also styling of links is different as well within the My Company section. To your point, this would apply to all tables/lists in My Account to align with My Company. Brian mentioned Order History because that is what he used to create Replenishment Orders.

[2020-10-22 14:05] corey-aloia opened #9474 "CDS: send consent-revoke events to profiletag"
As part of a broader SAP Commerce Cloud, Context-Driven Services feature to allow Profiletag to cleanup resources, Spartacus needs to inform Profiletag when a consent has been revoked.

[2020-10-22 15:06] tobi-or-not-tobi commented on #9333
We've discussed this issue:
- we should fallback to text field(s) in case of a lack of browser support. We won't introduce a external lib for this feature.
- we should try to avoid 2 text fields, one for date, one for time. Ideally we drop time altogether, but we see the potential conflict with timezone differences. @Xymmer can you make the decision regarding time zone here?

Option 1: no timezone

[2020-10-22 15:31] giancorderoortiz commented on #9453
Time boxed to 1 hr.

[2020-10-22 15:32] Platonn opened #9477 "Fix cypress configurations to let smoke/checkout-flow.e2e-spec.ts pass"
In https://github.com/SAP/spartacus/commit/13fb92afdd44b38e6953b5f47eae2e048d0ba0ac we introduced  2 env variables which became mandatory for `smoke/checkout-flow.e2e-spec.ts` to pass:
[code]
They are required to pass the test for checking if the order was succesfully placed.

The envs were added only in `cypress.2005.ci.json`. But we need to also introduce them in standard `cypress.json`.

To be

[2020-10-22 15:56] giancorderoortiz commented on #9371
Using localhost, run smoke, regression, mobile and all other applicable e2e tests.
If asm tests fail, please change password to default ccv2 password.
Please record runs and add dashboard links to this ticket.
Compare to 2005 and highlight test failures.
Subsequently, let's discuss which ones actually require fixing.

The ultimate goal is to have e2e tests running against 2011.

[2020-10-22 15:57] giancorderoortiz commented on #9371
@saad-mo, @hackergil can provide you with details how to record tests.

[2020-10-22 16:06] giancorderoortiz commented on #9395
:-)

[2020-10-22 16:17] bgambocjaviniar commented on #9477
PR GH-9478

[2020-10-22 16:22] giancorderoortiz commented on #9477
This is good. Merci

[2020-10-22 16:29] giancorderoortiz commented on #8887
Let's see what the new scan, with proposed updated configuration, generates first.

[2020-10-22 16:30] giancorderoortiz commented on #7869
Azure dev servers are public now.  This issue should be tackled soon.

[2020-10-22 17:28] hackergil commented on #9016
In order for us to reuse the new concurrent jobs, we need to migrate to travis.com. Looking into this.

[2020-10-22 18:48] tobi-or-not-tobi opened #9481 "Carousel improvements"
The Carousel component provides a generic UI for various carousel, such as product carousels or images. The carousel is reusable and allows for bespoke templates per carousel type. There are a number of new ux and performance improvements  we like to introduce to the carousel:
- [x] Lazy loaded carousel items; currently all items are always loaded, which has a very bad impact on performance;
- [x]

[2020-10-22 22:34] Xymmer commented on #9333
Decision:
- don't ask user for time
- default to midnight from user's timezone, if you can guess his timezone

[2020-10-23 00:15] hackergil commented on #9395
I created a PR to run the e2es using the new cluster as backend. I found a couple things:
- New passwords are being used for our test users (asagent, cypress users). This fixes asm and consignment tracking orders e2e tests)
- My interests e2e test is still broken

[2020-10-23 04:49] Larisa-Staroverova opened #9483 "ON HOLD: [Med] Simplify DOM and CSS III"
Depends on #9176, #9177

`configurator-issues-notification`,
`configure-cart-entry`,
`configure-product` and a part in `cart-item` where the inline configuration for cart item is added.

Pay attention to the point collected on the [Clean up DOM](https://wiki.wdf.sap.corp/wiki/display/CPQ/Clean+up+DOM) page

[2020-10-23 06:26] #6939 closed, assigned to Zeyber

[2020-10-23 08:31] Platonn opened #9484 "Revise naming of things in public API of organization lib"
In the public API of the organization lib we have many things exported which have pretty general names compared to how specific they are. For example `unit-form.component` (`cx-unit-form`) - unit can be something very general in various contexts. This should be prefixed with `organization` (like the library name): `cx-organization-unit-form`.

Unit-form.component is just an example. It would be go

[2020-10-23 08:56] tobi-or-not-tobi commented on #9440
still happening.

[2020-10-23 10:43] Zeyber opened #9489 "Org Units E2E tests for Assignments"
Assignments for org units are more complicated as they contain forms to create children which is not pattern like other my company sections.

[2020-10-23 11:14] Pucek9 opened #9490 "Long usernames broken UI in subsections with users"
Need to verify all subsection tables contains users (or approvers) in organization after fix.
![image](https://user-images.githubusercontent.com/8040837/96997332-dec58700-1531-11eb-9c93-77d017acec9b.png)

[2020-10-23 12:51] Platonn opened #9492 "Drop obsolete split-view-deactivate.guard.ts"
`split-view-deactivate.guard.ts` was created in big PR for MyCompany https://github.com/SAP/spartacus/pull/9028/files, then we refactored our approach so we don't need it anymore. Class should be removed.

[2020-10-23 12:56] hackergil commented on #9371
@giancorderoortiz  https://docs.cypress.io/faq/questions/dashboard-faq.html#How-do-I-record-my-tests

[2020-10-23 13:15] Platonn opened #9493 "Move leftovers of order approval to organization lib from other libs"
- [x] `OrderDetailsApprovalDetailsComponent` in `storeferont` lib and its cms mapping:
https://github.com/SAP/spartacus/blob/bc69ae2e86bbe45e17df67f8081a92e60f0923ea/projects/storefrontlib/src/cms-components/myaccount/order/order-details/order-details.module.ts#L76-L78

- [x] translations in `assets` library
   https://github.com/SAP/spartacus/blob/bc69ae2e86bbe45e17df67f8081a92e60f0923ea/projects

[2020-10-23 13:17] marlass opened #9494 "Check if `standardSessionInProgress` can be removed?"
Now we don't allow for asm agent to be logged in and have the user session at the same time this part of the component could be removed.

Check html of component `CustomerEmulationComponent`

[2020-10-23 13:19] znikola opened #9495 "Extract schematics update mechanism"
With Spartacus 2.0 we started using schematics to help customers to perform an automatic upgrade.
With the upcoming 3.0 we should re-use the same mechanism, and just write scripts for 2.0 -> 3.0 upgrade.

[2020-10-23 13:29] Platonn opened #9497 "Move normalizeing CostCenter.active property to organization lib"
In PR https://github.com/SAP/spartacus/pull/9280 we moved `active` property of model `CostCenter` to the `organization` lib. So for consistency we should also move the normalizer logic for this property from `core` lib to `organization` lib. This normalizer cannot be lazy loaded, so let's provide it eagerly a submodule of in the `OrganizationRootModule`

https://github.com/SAP/spartacus/blob/bc69a

[2020-10-23 13:36] Zeyber commented on #4786
E2Es cover all scenarios in test matrix.

[2020-10-23 13:37] Zeyber commented on #6946
E2Es cover all scenarios in test matrix.

[2020-10-23 13:38] Zeyber commented on #6940
Not covered by e2es:
- [ ] Delete

[2020-10-23 13:46] psmul commented on #6942
Based on provided matrix, users.e2e aren't covering listed topics below:
- User entity can disabled/deleted
- User password can be changed
- No tests for any of sub category

[2020-10-23 14:00] Matejk00 commented on #6948
Based on provided matrix, purchase limits e2e aren't covering listed topics below:

- create/details/edit -> Limit per timespan: amount, currency, time period
- create/details/edit -> Limit per order: amount, currency
- enable/disable purchase limit

[2020-10-23 14:01] Matejk00 commented on #6949
Based on provided matrix, purchase limits e2e aren't covering listed topics below:

- create/details/edit -> Limit per timespan: amount, currency, time period
- create/details/edit -> Limit per order: amount, currency
- enable/disable purchase limit

[2020-10-23 15:00] Xymmer commented on #9419
moving to future
for our first release, Spartacus powertools won't have a wishlist, as we have a somewhat-competing b2b feature coming, saved carts. but we'll discuss putting it back in at a later date
you could add it yourself but updating your cms data to include that component
and it will still work with electronics storefront

[2020-10-23 16:01] bgambocjaviniar commented on #8158
PR: GH-9500

QA:
- verify the big happy path of anonymous consent feature
for example, verify we can still set an anonymous consent, verify that it gets carried over when logging in as a user, verify that we can set consents in the consent page of a user, etc

[2020-10-23 16:03] hackergil opened #9501 "Add code of conduct"

[2020-10-23 18:05] giancorderoortiz opened #9504 "E2E - B2B Access to Approval Dashboard Restriction Verification"
Regular b2b users must not have CRUD access to:
/yb2bacceleratorstorefront/powertools/en/USD/my-account/approval-dashboard
This is where orders get approved by admin or approvers.

E2E Tests Requested:

**Access Restriction Test**
1. Navigate to b2b powertools.
2. Login as mark.rivers (regular user).
3. Directly access /yb2bacceleratorstorefront/powertools/en/USD/my-account/approval-dashboard
4. U

[2020-10-23 18:06] giancorderoortiz commented on #8028
Expanding restriction checks for approval dashboard here:
https://github.com/SAP/spartacus/issues/9504

[2020-10-23 18:34] giancorderoortiz commented on #9504
![Screen Shot 2020-10-23 at 2 27 38 PM](https://user-images.githubusercontent.com/46171897/97041011-d4f55100-153c-11eb-8b1e-e186b2f3c7e0.png)
![Screen Shot 2020-10-23 at 2 30 32 PM](https://user-images.githubusercontent.com/46171897/97041012-d4f55100-153c-11eb-880b-5ebd0e54f69a.png)
![Screen Shot 2020-10-23 at 2 30 53 PM](https://user-images.githubusercontent.com/46171897/97041015-d58de780-153c-11

[2020-10-23 18:40] giancorderoortiz commented on #8028
From the discussion above, I gather it's ok for non-admin users to see my-company pages, but not interact with them. Read only access. @tobi-or-not-tobi , correct?

[2020-10-23 18:42] giancorderoortiz commented on #8028
Pending definition: anonymous user redirects to login or homepage?

[2020-10-23 18:47] bit-dragon opened #9505 "Layout breaks on release next.5"
**Describe the bug**
Layout breaks on next.5 release, basically all pages are not having the correct layout but after refreshing the page the layout is correct.
You can easy replicate this issue by login/logout into the application and navigation to a different section from the user drop-down

**To Reproduce**
Steps to reproduce the behavior:

[First scenario]
1. Go to home
2. Click on Sign In/Reg

[2020-10-23 19:38] plabadie commented on #9423
PR #9499

For tests, this is a refactoring, so no regression should happen on the approvals feature.
The goal of the ticket is to crate an entry point for approvals to either run my company without approvals or vice versa.
So 2 tests that could be done are:
- Test my-company without approvals loaded in the app.
- Test approvals without my-company loaded in the app.

[2020-10-24 02:39] bgambocjaviniar commented on #9505
This is a known issue. Will be closing this as it's a duplicate of https://github.com/SAP/spartacus/issues/9440.

[2020-10-24 02:39] #9505 closed, assigned to nobody

[2020-10-24 09:01] #9477 closed, assigned to bgambocjaviniar

[2020-10-24 12:37] #9440 closed, assigned to tobi-or-not-tobi

[2020-10-25 10:39] #8517 closed, assigned to tobi-or-not-tobi, Pucek9

[2020-10-25 10:39] #9399 closed, assigned to tobi-or-not-tobi, Pucek9

[2020-10-25 15:25] giancorderoortiz commented on #9294
Retest on qa server done.
http://cx-qa16181492.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/

I see a few deliverymode calls being made. However, this may be due to intermittent issues we'd had with this page not loading properly.

Retried a few times.  Found no errors. 👍

[2020-10-25 15:25] giancorderoortiz commented on #9294
![Screen Shot 2020-10-25 at 11 23 47 AM](https://user-images.githubusercontent.com/46171897/97111394-cc278b00-16b4-11eb-9b94-01cf5ea8cf0c.png)

[2020-10-25 15:25] #9421 closed, assigned to znikola

[2020-10-25 15:26] #9238 closed, assigned to nobody

[2020-10-25 15:35] giancorderoortiz commented on #7785
Test successful 👍

[2020-10-25 15:35] giancorderoortiz commented on #7785
![Screen Shot 2020-10-25 at 11 34 17 AM](https://user-images.githubusercontent.com/46171897/97111619-38ef5500-16b6-11eb-9c04-ba1a30bd2766.png)
![Screen Shot 2020-10-25 at 11 35 15 AM](https://user-images.githubusercontent.com/46171897/97111621-3987eb80-16b6-11eb-9922-fe7373135c7b.png)

[2020-10-25 15:39] giancorderoortiz commented on #7785
I see that attempt to access registration page directly redirects to login page in b2b. Which is correct 👍
![Screen Shot 2020-10-25 at 11 38 58 AM](https://user-images.githubusercontent.com/46171897/97111706-c632a980-16b6-11eb-89ed-e0afeb5155a4.png)

[2020-10-25 15:39] #7785 closed, assigned to saad-mo, giancorderoortiz, Parthlakhani

[2020-10-25 15:45] giancorderoortiz commented on #9066
![Screen Shot 2020-10-25 at 11 45 19 AM](https://user-images.githubusercontent.com/46171897/97111872-96d06c80-16b7-11eb-8a9f-f0ae07ac3ff8.png)

[2020-10-25 15:54] giancorderoortiz commented on #9066
e2e test run successful.

[2020-10-25 17:26] giancorderoortiz commented on #8814
how to qa?

[2020-10-25 17:35] #9343 closed, assigned to tobi-or-not-tobi

[2020-10-25 18:11] giancorderoortiz commented on #9115
no access to Windows 10 device. Another team member will need to take a look

[2020-10-25 18:13] giancorderoortiz commented on #9030
Another team member should take a look.

[2020-10-25 18:14] giancorderoortiz commented on #8895
US load balancer upgraded successfully.

[2020-10-25 18:14] #8895 closed, assigned to giancorderoortiz

[2020-10-25 18:24] giancorderoortiz commented on #7997
This issue is now fixed with default configuration.
Dev branch. Oct 25, 2020

![Screen Shot 2020-10-25 at 2 24 01 PM](https://user-images.githubusercontent.com/46171897/97115572-cee2aa00-16cd-11eb-80db-7583e16b8291.png)
![Screen Shot 2020-10-25 at 2 24 06 PM](https://user-images.githubusercontent.com/46171897/97115573-cf7b4080-16cd-11eb-968b-1da8fcbb109d.png)

[2020-10-25 18:25] #7997 closed, assigned to giancorderoortiz

[2020-10-25 18:26] giancorderoortiz commented on #7537
Work halted on this issue.
Re-open if team considers it necessary.

[2020-10-25 18:26] #7537 closed, assigned to giancorderoortiz

[2020-10-25 18:54] giancorderoortiz commented on #5675
This issue is now fixed. Closing
![Screen Shot 2020-10-25 at 2 54 04 PM](https://user-images.githubusercontent.com/46171897/97116186-f8053980-16d1-11eb-8f9d-a3f48a041900.png)

[2020-10-25 18:54] #5675 closed

[2020-10-25 19:08] giancorderoortiz commented on #4615
ok

[2020-10-25 19:08] #4615 closed

[2020-10-25 19:36] giancorderoortiz commented on #3635
This issue is now solved.
Session token actually invalidated after user logout
![Screen Shot 2020-10-25 at 3 32 28 PM](https://user-images.githubusercontent.com/46171897/97117086-e4f56800-16d7-11eb-9757-a1e9e8ba2036.png)
![Screen Shot 2020-10-25 at 3 36 07 PM](https://user-images.githubusercontent.com/46171897/97117087-e58dfe80-16d7-11eb-8721-2bd478fa33ed.png)

[2020-10-25 19:36] #3635 closed

[2020-10-25 20:11] giancorderoortiz commented on #4640
Unable to force session timeout.
@tobi-or-not-tobi, @Xymmer is session timeout being kept alive beyond refresh token validity?
Using: http://cx-qa16181492.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/

[2020-10-25 20:35] giancorderoortiz commented on #9397
@zebercut fyi

[2020-10-25 21:41] #9284 closed, assigned to nobody

[2020-10-26 10:06] Platonn opened #9511 "Drop interface Item"
See https://github.com/SAP/spartacus/issues/9113
Drop interface `Item`. Provide update schematics. Add to migration docs.

[2020-10-26 10:08] #9469 closed, assigned to mirkosoft

[2020-10-26 11:07] Zeyber opened #9513 "Enable/Disable status for My Company E2Es"
Enabling/Disabling of entities is not currently checked by the My Company E2E skillet and could probably be checked for all entities with a singular mechanism.

[2020-10-26 11:51] Xymmer commented on #8865
Revert so that my company page appears no matter the permissions, but user has to log in to do anything

[2020-10-26 12:18] psmul commented on #8908
QA steps:
- go to any units address
- open dev tools
- edit any field & save

Expected result:
- After save action, view should be back on address details
- In dev tools, Network tab, no looped requests for unit entity are present

[2020-10-26 12:59] #9384 closed, assigned to Zeyber

[2020-10-26 14:27] LTiger14 opened #9516 "[Wait for CLC-2219] Remove workaround for disabled user"
After https://cxjira.sap.com/browse/CLC-2219 is done.

Remove the workaround from #9456 and use the regular disable logic.

[2020-10-26 14:28] LTiger14 commented on #9358
The back-end ticket is https://cxjira.sap.com/browse/CLC-2219. Once back-end change is done, this Spartacus issue can be worked on #9516.

Removing myself as this is a future issue.

[2020-10-26 14:36] giancorderoortiz commented on #9397
Load balancer dismantled.
Vms re-assigned for feature development as internally discussed.

[2020-10-26 14:37] giancorderoortiz commented on #9397
Applicable wiki pages updated

[2020-10-26 16:04] Pucek9 commented on #9462
Draft [PR](https://github.tools.sap/cx-commerce/spartacussampledata/pull/141)

[2020-10-26 16:07] saad-mo opened #9517 "Replace banners for Electronics Homepage"
Update Electronics with new banners on the homepage.

1. Investigate how `smart` banners (the live text on image) work.
2. Banners to match the new design provided by Manu
3. Any sample date updates go in the `product-data` branch
4. Ideally, new banners should work in conjunction with the blue theme.

Tasks
- [x] Update product carousel headings to "Top Selling TVs" and "What's New In Mobile Phon

[2020-10-26 16:36] Platonn commented on #9490
### QA steps:

1. add entities with very long display names in various places. And verify they are truncated well with ellipsis: For example here:
   - [ ] http://localhost:4200/powertools-spa/en/USD/organization/units/Rustic%20Retail/users
        ![image](https://user-images.githubusercontent.com/4001059/97201308-97016280-17b2-11eb-9db7-4bcf3726270a.png)
   - [ ]    http://localhost:4200/powerto

[2020-10-26 17:21] bgambocjaviniar commented on #9371
added jenkins job to do the test last Friday
- will analyse tomorrow or later today
- builds contains recorded tests at the bottom of the of the console output

b2c 2011 https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/test-spartacus-regression-tests-2011-b2c/
b2b 2011 https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/test-spartacus-regression-tests-2011-b2b/

^ for testing purposes and will be

[2020-10-26 17:22] morganm58 commented on #9378
![Screen Shot 2020-10-26 at 1 21 00 PM](https://user-images.githubusercontent.com/2947470/97205774-4546e100-178e-11eb-921a-b5f28210a1db.png)

[2020-10-26 17:23] morganm58 commented on #9378
@Manurod2018 I just took a look at this. I looks fine in develop.

[2020-10-26 18:03] #9378 closed, assigned to nobody

[2020-10-26 18:30] ren-tham opened #9520 "UI: Search box is visible when hamburger menu is on display. (Mobile View)"
**Describe the bug**

While in mobile view, when hamburger menu is expanded, if the screen size is >=768 pixels, the search box will be visible.
I'm not sure if this behaviour is expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter mobile view.
2. Expand hamburger menu.
2. Expand screen width so it is more than 768 pixels wide.

**Expected behavior**
Please verify if this is an ex

[2020-10-26 19:45] WeizhengSap commented on #9493
It depends on the ticket #9423, but still can be reviewed.

[2020-10-26 23:09] #8908 closed, assigned to psmul

[2020-10-27 07:55] Matejk00 opened #9522 "Org Units E2E tests for create/update & unit details"
Goal of this ticket is to implement config for:
- Create new org unit
- Edit/Update org unit
- Check org unit details

[2020-10-27 09:17] giancorderoortiz commented on #7991
Yes, I still see it in qa server b2c csr:
http://cx-qa16181492.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/Open-Catalogue/Cameras/Digital-Cameras/Digital-SLR/c/578

[2020-10-27 09:21] giancorderoortiz commented on #7951
Which Windows version ?

[2020-10-27 09:29] giancorderoortiz commented on #5652
This issue continues to happen.  Dev branch. Oct 26, 2020.
This ticket has been opened for almost 1 year.
Fixing for 3.0?

[2020-10-27 09:30] giancorderoortiz commented on #5652
http://cx-qa16181492.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/

[2020-10-27 09:32] MichaelBoeser opened #9524 "[Med] Resolve issues on overview not navigating to group with issues"
Test:
Test Server: team server
Configure Digital Camera.
Select a mode. Click next.
Select a Data format for pictures. Click next.
Click next twice.
Press Overview.
Press Resolve Issues.
Issue. Group 'Basic' is open, instead of the group with issues ('Display').
Note: when you navigate to overview again, and click resolve issues again, the navigation is correct (group Display is shown).

On **OCC*

[2020-10-27 09:36] giancorderoortiz commented on #8845
Still visible in http://cx-qa16181492.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/product/553637/NV10

[2020-10-27 10:06] giancorderoortiz commented on #9409
This is indeed the case. Wow.

[2020-10-27 10:06] giancorderoortiz commented on #9409
Easily reproducible in QA server here:
http://cx-qa16181492.eastus.cloudapp.azure.com:4201/powertools-spa/en/USD/

[2020-10-27 10:08] #6949 closed, assigned to Matejk00

[2020-10-27 10:09] giancorderoortiz commented on #9468
@dunqan  Please provide me with steps to reproduce. Interested.

[2020-10-27 10:54] kacperknapik commented on #9398
### Pages
- [x] main organization page
  - improvement - fix transition on the elements for focus #9526
- [x] organization/budgets page
- [x] organization/cost-centers
- [x] organization/units
  - improvement - fix top right buttons being too close #9527
  - improvement - fix focus border in rows with accordion #9528
- [x] organization/users
- [x] organization/user-groups
- [x] organization/purcha

[2020-10-27 10:56] Matejk00 commented on #6948
E2Es cover all scenarios in test matrix.

[2020-10-27 10:58] giancorderoortiz opened #9525 "Improvement. B2C/B2B WIth Miscellaneous SKU Quantities"
Upon further inspection, I can see that e2e checkout tests for b2b and b2c are done with single quantities for a particular SKU.

As an improvement, E2E tests for b2b and b2c should include having multiple quantities of same SKU as follows:

- [ ] 1. From Product Details Page, increase quantity to a random value before adding to cart.
  - [ ] 1.a. Confirm Added-To-Cart Dialog includes the correct

[2020-10-27 11:01] giancorderoortiz commented on #9525
![Screen Shot 2020-10-27 at 6 53 10 AM](https://user-images.githubusercontent.com/46171897/97292871-30b42880-1822-11eb-855e-b590a5c8cf71.png)
![Screen Shot 2020-10-27 at 6 53 33 AM](https://user-images.githubusercontent.com/46171897/97292875-314cbf00-1822-11eb-88e3-9651089a11a7.png)

[2020-10-27 11:02] giancorderoortiz commented on #9525
![Screen Shot 2020-10-27 at 7 01 50 AM](https://user-images.githubusercontent.com/46171897/97292946-504b5100-1822-11eb-9c7b-ae559f683b81.png)

[2020-10-27 11:11] giancorderoortiz commented on #9525
In projects/storefrontapp-e2e-cypress/cypress/helpers/checkout-as-persistent-user.ts addProductToCart(), we only qty = 1

[2020-10-27 11:14] giancorderoortiz commented on #9525
Perhaps partially covered in projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts.verifyQuantityInCart() method.

[2020-10-27 11:15] giancorderoortiz commented on #9409
Added an e2e test improvement ticket for this: https://github.com/SAP/spartacus/issues/9525

[2020-10-27 11:27] Platonn commented on #9177
Note: in PR https://github.com/SAP/spartacus/pull/9510 we're going to drop the usage of `Item` (in `cart-item.component.ts) in favour of standard model `OrderEntry`. So please don't extend `Item`, but only `OrderEntry`, if needed.

[2020-10-27 11:41] #9398 closed, assigned to kacperknapik

[2020-10-27 11:44] kacperknapik opened #9526 "Home organization page - remove CSS transition from focus"
### Current
While focusing elements on the main/home organization page, we see transition on focus state. We don't use transition on focus anywhere else.

### Expected
No transition for `:focus` for organization page tiles

[2020-10-27 11:47] kacperknapik opened #9527 "Organization/units - top right buttons are too close to each other, focus border not visible"
### Current
Top right buttons are too close to each other. When using tabbing through them, the focus state border is hiding underneath the other buttons.

EDIT: Added screenshots and url

To reproduce, go to `http://../powertools-spa/en/USD/organization/units` (for credentials, ask on priv).

![image](https://user-images.githubusercontent.com/22354613/97886006-5fe9fe80-1d28-11eb-8e00-2c8485793c9e

[2020-10-27 11:47] tobi-or-not-tobi commented on #9484
As long as we haven't done #9466, we should not have a lot of selectors that need to be changed. Currently we have these selectors:

- cx-cost-center-form
- cx-order-approval-detail-form
- cx-order-approval-list
- cx-organization-card
- cx-toggle-status
- cx-organization-form
- cx-organization-list
- cx-message
- cx-confirmation
- cx-notification
- cx-organization-sub-list
- cx-unit-form
- cx-unit

[2020-10-27 12:17] kacperknapik opened #9528 "Organization/units - fix focus border in rows with 'accordion'"
### Current
Rows with 'accordion' (arrow down), have doubled focus state border.

### Expected
Come up with the solution, that improves the focus border for both - row's focus and accordion's arrow focus

[2020-10-27 12:35] #6974 closed, assigned to giancorderoortiz

[2020-10-27 12:35] Xymmer commented on #6974
closed as new tickets opened
2/3 tickets already done, last one in to do

[2020-10-27 12:43] Xymmer opened #9530 "Manually test certain MyCo features after RC and at final release"
- [x] Check that non-admins are not able to access admin pages (besides MyCo Home)

Units
- [x] Disabling (and check that child units, the unit's cost centers and users are also disabled)
- [x] Enabling (no child units etc should be enabled automatically)
- [x] Change user roles in user subpanel
- [x] Edit/Delete addresses in address subpanel

Users
- [x] User entity can disabled/deleted (and disa

[2020-10-27 12:52] Xymmer commented on #6944
Not covered I assume? Disabling (and check that child units, the unit's cost centers and users are also disabled)

[2020-10-27 13:01] Zeyber commented on #6944
E2Es cover all scenarios in test matrix.

[2020-10-27 13:27] kacperknapik opened #9531 "Focus newly opened section in the b2b table component"
### Current
While tabbing through the b2b table component, opening  up a new section (on the right) is not making the focus to go to the newly opened section, but rather the focus stays where it was (where we pressed enter).

### Expected
After opening up a new section, the focus should go to the first element of the section.

[2020-10-27 13:42] kacperknapik opened #9532 "Fix focus trap on shift-TAB inside b2b table component"
### Current
Focus trap inside b2b table component while you shift-TAB. No focus trap for TAB only.

### Expected
Remove the focus trap - user should be able to go from the bottom to the top of the page. While inside the table, you should be able to shift-TAB to the elements above it.

[2020-10-27 13:51] #6367 closed

[2020-10-27 13:51] #6410 closed

[2020-10-27 13:51] #8096 closed, assigned to giancorderoortiz

[2020-10-27 13:51] #6412 closed

[2020-10-27 13:51] #8114 closed, assigned to giancorderoortiz

[2020-10-27 13:51] #8243 closed, assigned to nobody

[2020-10-27 13:51] #8247 closed, assigned to nobody

[2020-10-27 13:51] #8252 closed, assigned to nobody

[2020-10-27 13:51] #8289 closed, assigned to nobody

[2020-10-27 13:51] #8447 closed, assigned to nobody

[2020-10-27 13:51] #8484 closed, assigned to nobody

[2020-10-27 13:51] #8493 closed, assigned to nobody

[2020-10-27 13:51] #8495 closed, assigned to nobody

[2020-10-27 13:51] #8250 closed, assigned to nobody

[2020-10-27 13:51] #8476 closed, assigned to nobody

[2020-10-27 13:51] #8477 closed, assigned to nobody

[2020-10-27 13:51] #8479 closed, assigned to nobody

[2020-10-27 13:51] #8481 closed, assigned to nobody

[2020-10-27 13:51] #8483 closed, assigned to nobody

[2020-10-27 13:51] #8485 closed, assigned to nobody

[2020-10-27 13:51] #8738 closed, assigned to nobody

[2020-10-27 13:51] #8742 closed, assigned to nobody

[2020-10-27 13:51] #8245 closed, assigned to nobody

[2020-10-27 13:51] #8957 closed, assigned to nobody

[2020-10-27 13:51] #9008 closed, assigned to nobody

[2020-10-27 13:51] #9010 closed, assigned to nobody

[2020-10-27 13:51] #9027 closed, assigned to nobody

[2020-10-27 13:51] #9034 closed, assigned to nobody

[2020-10-27 13:51] #9145 closed, assigned to nobody

[2020-10-27 13:51] #9183 closed, assigned to nobody

[2020-10-27 13:51] #9230 closed, assigned to nobody

[2020-10-27 13:51] #9232 closed, assigned to nobody

[2020-10-27 13:51] #9245 closed, assigned to nobody

[2020-10-27 13:51] #8249 closed, assigned to nobody

[2020-10-27 13:51] #8482 closed, assigned to nobody

[2020-10-27 13:51] #9312 closed, assigned to nobody

[2020-10-27 13:51] #9315 closed, assigned to nobody

[2020-10-27 13:51] #9317 closed, assigned to nobody

[2020-10-27 13:51] #9322 closed, assigned to nobody

[2020-10-27 13:51] #9336 closed, assigned to nobody

[2020-10-27 13:51] #9338 closed, assigned to nobody

[2020-10-27 13:51] #9339 closed, assigned to nobody

[2020-10-27 13:51] #9387 closed, assigned to nobody

[2020-10-27 13:51] #8244 closed, assigned to nobody

[2020-10-27 13:51] #8246 closed, assigned to nobody

[2020-10-27 13:51] #8478 closed, assigned to nobody

[2020-10-27 13:51] #9444 closed, assigned to nobody

[2020-10-27 13:57] #8679 closed, assigned to hackergil

[2020-10-27 13:57] Xymmer commented on #8679
reopened by mistake, need new tickets for new issues

[2020-10-27 14:32] Xymmer commented on #4441
set to 4.0 - no work to do for 3.0 right? @Platonn

[2020-10-27 14:36] Xymmer commented on #7975
was done

[2020-10-27 14:36] #7975 closed, assigned to nobody

[2020-10-27 15:09] plabadie opened #9534 "Augment types in occ layer."
We should apply to the occ layer models the same augmentation that was applied to the models on the service layer.

See https://github.com/SAP/spartacus/pull/9280/files

#### Depends on GH-8878
This refactoring depends on the overall cleanup of b2b models that need to be moved from core to the feature lib.
See ticket https://github.com/SAP/spartacus/issues/8878

[2020-10-27 15:24] tobi-or-not-tobi opened #9535 "Breakpoint size is 1px off"
The breakpoint service validates the window size against a configurable breakpoint size. The default configuration of the breakpoints is based on Bootstraps breakpoints. While the screen sizes have been copied over from the bootstrap docs/code, the comparison was actually off.

[2020-10-27 15:35] Xymmer commented on #7993
closing as i have it working and we hvae workaround documented, new tickets for continuing to update for newer versions and documenting

[2020-10-27 15:48] Xymmer commented on #5882
removing milestone so that re-review this ticket in triage

[2020-10-27 16:03] #8994 closed, assigned to LTiger14

[2020-10-27 16:05] #8581 closed, assigned to bgambocjaviniar

[2020-10-27 16:05] bgambocjaviniar commented on #8581
closed as those e2e are in develop

[2020-10-27 16:45] Xymmer commented on #8012
haven't seen this lately, closing

[2020-10-27 16:45] #8012 closed, assigned to mszczepaniak, Zeyber

[2020-10-27 16:47] #6685 closed

[2020-10-27 16:47] Xymmer commented on #6685
not needed for now

[2020-10-27 16:58] Xymmer commented on #8006
While you're at it, see #9242

[2020-10-27 16:58] Xymmer commented on #9242
There's a ticket for b2b smartedit as well, see #8006

[2020-10-27 17:16] Xymmer commented on #8858
Let's review if we need sonar or other scans are doing same task

[2020-10-27 18:16] giancorderoortiz opened #9537 "UI/UX Dev Server Update"
Update dev-server for UI/UX team.

Backend and Frontend (specific branch if necessary)

[2020-10-27 18:17] giancorderoortiz commented on #9425
http://spartacus-praca5.westeurope.cloudapp.azure.com:4200/electronics-spa/en/USD/
@marlass fyi

[2020-10-27 18:43] Xymmer opened #9538 "UX for B2B Inventory Display (Teeny-Tiny)"
See https://cxwiki.sap.com/display/spar/Feature%3A+B2B+Inventory+Display
Very likely there is no design work needed here.

[2020-10-27 19:16] Xymmer commented on #9265
@vekterdude :wave:
 phase 1 is basic multi-d support so it's almost exactly like variants, which work as described:
- only one product will appear representing multi-d (that's a backend search results thing)
- no preview in search/categories (that would be a new feature)
- a multi-d product added to cart is an individual sku
- no editing (we actually display order grid in cart in accelerator but t

[2020-10-27 20:22] hackergil commented on #8570
@LTiger14 can you share the test results or a link to the cypress dashboard for this?

[2020-10-27 20:46] LTiger14 commented on #7509
Doesn't block RC, keeping it open until the schematics ticket is created as the real source of truth.

[2020-10-27 22:49] #9267 closed, assigned to nobody

[2020-10-27 22:49] #9266 closed, assigned to nobody

[2020-10-27 22:52] Xymmer commented on #5354
Saad is doing this and will document

[2020-10-27 22:52] Xymmer commented on #8551
dupe of #9329

[2020-10-27 22:52] #8551 closed, assigned to nobody

[2020-10-27 22:55] Xymmer commented on #9329
task of adding to sample data is #9517

[2020-10-27 22:55] #9329 closed, assigned to saad-mo

[2020-10-27 22:56] Xymmer opened #9541 "Update Electronics home page carousels to show TVs and Phones"
To replace the two carousels on home:
![image](https://user-images.githubusercontent.com/4998145/97370864-5a06a000-1886-11eb-8c0b-15cfa5f3e4a8.png)

For first one, pick from all the new TVs
For the second one, pick from all the phones

[2020-10-27 23:57] Xymmer opened #9542 "Sample data incompatibility with cx recipe"

[2020-10-28 09:42] Platonn opened #9543 "Broken e2e regression/my-account/update-email.e2e-spec.ts"
`regression/my-account/update-email.e2e-spec.ts` started to fail yesterday in job `spartacus-regression-tests-2005` since changes made in develop:
feat: Add e2e tests for purchase limits (https://github.com/SAP/spartacus/commit/3ce1af352efb268239735d6a38c805c3e8fd2ce6)
feat: Auth module restructure and support for more OAuth flows. (#9297) (https://github.com/SAP/spartacus/commit/e5b5a373490c3462a

[2020-10-28 10:06] mirkosoft opened #9544 "Routing deprecations"
- [x] `projects/storefrontlib/src/cms-structure/routing/default-routing-config.ts` history for changes of the default config
- [x] `projects/core/src/routing/facade/routing.service.ts` - constructor has been changed
- [x] ~`projects/core/src/routing/store/reducers/router.reducer.ts` - added constructor~ (@Platonn EDIT: the class was not - and still isn't -  present in the public API)
- [x] https:/

[2020-10-28 10:27] giancorderoortiz commented on #9537
Server deployed:
http://spartacus-uiux.eastus.cloudapp.azure.com:4200/electronics-spa/en/USD/

[2020-10-28 10:36] mirkosoft opened #9545 "Checkout deprecations"
### constructor changed and/or removed properties/methods: ###
- [x] `projects/core/src/checkout/store/actions/checkout.action.ts`

`projects/core/src/checkout/facade/checkout.service.ts` + params for public function changed -> **schedule rep**

- [x] `projects/storefrontlib/src/cms-components/checkout/components/checkout-progress/checkout-progress-mobile-bottom/checkout-progress-mobile-bottom.com

[2020-10-28 10:49] mirkosoft opened #9547 "Cds deprecations"
- [x] `projects/cds/src/merchandising/cms-components/directives/attributes/attributes.directive.ts` - params type changed, dc288ae695e724854cb377e52f4e6118cd328494
- [x] `projects/cds/src/profiletag/services/profile-tag.injector.service.ts` - constructor changed, 5780697702e8417715ab335a459048265264d7cf, d2fa40b0366b9169c1a51b459c93891b1603855e
- [x] `projects/cds/src/profiletag/services/spartacus

[2020-10-28 10:56] mirkosoft opened #9549 "Check/handle deprecations for removed HttpClientModule refs"
Check wheter we should, and how (schematics/update docs) if yes, handle deprecations related to "Remove references to HttpClientModule": https://github.com/SAP/spartacus/issues/9243
Handle deprecations accordingly if check results say so.

[2020-10-28 10:58] #9549 closed, assigned to nobody

[2020-10-28 11:09] mirkosoft opened #9550 "Check/handle deprecations for improved config providing"
Check wheter we should handle deprecations related to Improved providing of configurations:

- [x]  https://github.com/SAP/spartacus/pull/7327

- [x] https://github.com/SAP/spartacus/pull/7597

- [x] https://github.com/SAP/spartacus/pull/8789

- [x] e1066ff35be34f8ed44814f78f6d60bac6771d1b

- [x] 69d066ff80352a90d0b5abdbcecd43af8e09b301

- [x] https://github.com/SAP/spartacus/pull/9076 - not exact

[2020-10-28 11:22] mirkosoft opened #9551 "Handle deprecations for route-driven breadcrumbs"
According to #9075 several depractions needs to be handled, including:
- [x] changed translations
- [x] changed configs
- [x] changed constructors

Wherever possible use schematics migrations.

[2020-10-28 11:51] Platonn commented on #8104
Related ticket https://github.com/SAP/spartacus/issues/9105 (1.)

[2020-10-28 12:01] mirkosoft opened #9553 "Handle deprecations for Scheduled replenishement"
According to https://github.com/SAP/spartacus/pull/9114 apart of new file, several deprecations has been introduced to existing code, including:
- [x] constructor changes
- [x] default configs change
- [x] angular module imports changed

Wherever possible add to schematics, if not add to migration 3.0 docs.

Style changes (handled by 9701)

[2020-10-28 12:15] #9233 closed, assigned to Platonn

[2020-10-28 12:17] marlass opened #9554 "Remove BasicAuthService and extend CDC in guard"

[2020-10-28 12:18] marlass opened #9555 "Support Implicit and Authorization Code Flow in popup"
Currently we support those flows with redirect to auth pages.
We can also perform the login in a new window and after successful login inform the root window to reload the data and update it's state for logged in user. Then close the popup window where we performed login procedure.

We also would like the mechanism of communication between windows generic. This could also be used for payment provi

[2020-10-28 12:25] Platonn commented on #9551
- [x] changed constructors:
   - [x] https://github.com/SAP/spartacus/pull/9075/files#diff-92c4dd9b7380e30d5ce2d508fc3f5d3ea5aa792da33b097cc62a898b0ebd797bR50 - Not breaking change. The service was introduced lately in 3.0-next
   - [x] https://github.com/SAP/spartacus/pull/9075/files#diff-cf1240e647a076bb723eea5154dd4f0be5914e82c3ab10af0f47ba9be9c49b89R55 - will be handled in https://github.com/S

[2020-10-28 12:27] Platonn commented on #9093
Duplicate of https://github.com/SAP/spartacus/issues/9551

[2020-10-28 12:29] #9093 closed, assigned to Platonn

[2020-10-28 12:34] psmul opened #9556 "Users E2E assignments supplementary tests"

[2020-10-28 12:50] LTiger14 commented on #8006
I tried powertools-spa develop (October 28th) with SmartEdit extensively on 2005 and 2011, I didn't find any problems.

[2020-10-28 13:03] Matejk00 commented on #9522
be merged in #6945

[2020-10-28 13:03] #9522 closed, assigned to Matejk00

[2020-10-28 13:15] LTiger14 commented on #9242
We do not support the financial accelerator sample data yet; we will look into it in the future.

[2020-10-28 13:16] LTiger14 commented on #8006
#9242 is marked as future since the issue is for financial accelerator sample data.

[2020-10-28 13:32] giancorderoortiz opened #9557 "Unable to Sort MyCompany Users by Name or Unit"
**Steps to Reproduce:**
1. Navigate to SPA B2B powertools storefront.
2. Login as admin (i.e. linda wolf)
3. From My Account menu, select My Company
4. Select Users.
5. In the Users page, attempt to change sort order to either byname or by unit.

**Expected Results:**
5. Order changes according to sort.

**Actual Results:**
5. Ordering of users doesn't change. There is no call made to backend.

[2020-10-28 13:33] giancorderoortiz commented on #9557
![sortByName](https://user-images.githubusercontent.com/46171897/97442855-b0182980-1900-11eb-86d1-e36ab76e930e.png)
![sortByUnit](https://user-images.githubusercontent.com/46171897/97442857-b0b0c000-1900-11eb-9d90-e01a10ecb902.png)

[2020-10-28 13:40] #8006 closed, assigned to nobody

[2020-10-28 13:46] giancorderoortiz commented on #9557
![Screen Shot 2020-10-28 at 9 46 10 AM](https://user-images.githubusercontent.com/46171897/97444357-72b49b80-1902-11eb-9cbf-adb9ba45543f.png)

[2020-10-28 13:47] giancorderoortiz commented on #8104
![Screen Shot 2020-10-28 at 7 47 35 AM](https://user-images.githubusercontent.com/46171897/97444497-9d065900-1902-11eb-8c16-a2c620771a58.png)

[2020-10-28 14:04] giancorderoortiz opened #9558 "UI Error Messages not Shown When "Model-Saving-Error" Generated in Backend"
(This is a bit of a grey area that requires further discussion).

**Steps to Reproduce:**
1. Navigate to SPA B2B powertools storefront.
2. Login as admin (i.e. linda wolf)
3. From My Account menu, select My Company
4. Select Budgets.
5. Pick any budget and attempt to edit it by changing the amount to a value less than $0.

**Expected Results :**
5. Error message on screen mentioning negative amoun

[2020-10-28 14:07] mirkosoft opened #9559 "New Release: 3.0.0-next.6"
## General steps

- [x] Validate that all merged tickets were tested (QA column must be empty, except for tickets marked as `not-blocking-release`)
- [x] Create release branch `release/3.0.0-next.6` from the develop branch
- [x] Follow the steps to [release update schematics](https://github.com/SAP/spartacus/blob/develop/projects/schematics/README.md#releasing-update-schematics)
- [x] Build app on

[2020-10-28 14:09] giancorderoortiz commented on #9558
![negative-budget](https://user-images.githubusercontent.com/46171897/97447215-b5c43e00-1905-11eb-9b56-542b9615e9e0.png)
![negative-budget-modelsavingerror](https://user-images.githubusercontent.com/46171897/97447220-b65cd480-1905-11eb-97c0-d01503c92aaa.png)

[2020-10-28 14:20] LTiger14 commented on #8845
@giancorderoortiz when was this server deployed and what branch? The PR is not merged yet.

[2020-10-28 14:35] Pucek9 opened #9561 "Text is too close button in units/users"
On mobile view in http://localhost:4200/powertools-spa/en/USD/organization/units/Rustic%20Services/users it seems like this:
![image](https://user-images.githubusercontent.com/8040837/97447920-5cbdcf80-1930-11eb-8667-a7f1d201d560.png)

[2020-10-28 16:27] mirkosoft opened #9562 "Handle deprecations for ProductListComponentService"
According to #7987 and #8874 some breaking changes were introduced. Please check both PRs and either enchance schematics migrations script or update the migration docs.

[2020-10-28 16:58] hackergil commented on #8223
I tested this using the QA server with the product mentioned above.
* Go to PDP from product 3470545 (red camera). It shows 2 product references
* Click on the blue camera (3470545). It still shows the old 2 product references from the previous product. Calls to product references are returning an empty array

   "references" : [ ]
}

[2020-10-28 17:03] mirkosoft opened #9563 "Check outlets deprecations"
According to PRs #9431, #8662, #8200, #8224, #8117 some breaking changes were introduced since 2.0.x. They're already/mostly covered by #8116 and #8201 but let's double check everything was tackled either in the migration docs or schematics.

[2020-10-28 17:43] mirkosoft opened #9564 "advanced breakpoint configuration for extensible screen layout"
According to PR #9061 some breaking changes has been introduced - let's check wheter they should be handled by schematics or mentioned in the migration docs.

[2020-10-28 18:25] #9543 closed, assigned to marlass

[2020-10-28 19:45] Xymmer commented on #9262
you can assign to me first and i'll give feedback

[2020-10-28 20:31] giancorderoortiz commented on #8845
Last Monday afternoon

[2020-10-28 21:56] giancorderoortiz commented on #8755
It's now possible to actually measure any improvements done to SSR.
Dynatrace cluster is now available for testing purposes.
Demo server has 2.0 CSR and SSR deployed and has dynatrace's oneagent installed.
QA server or dev3, I believe, could be used for comparison purposes.

For generating load, we can use gatling or cypress e2e tests for homepage.
In the case of gatling (i.e. scala), we can run h

[2020-10-28 23:14] giancorderoortiz commented on #9464
We are now able to check performance improvements with Dynatrace.
Once ticket is done, we could actually do measurements

[2020-10-29 05:48] bgambocjaviniar commented on #9371
Findings:

Branch: `feature/test-e2e-2011`
env: `dev4-azure`

Looks like the dev4 server for 2011 is not configured properly as most of the failures is related to failing to checkout because the delivery mode is not delivery-standard-net.

THREE things main things for the failures in #build 3, 4, 5 (pre-sessionmanagement feature merge)
1)  delivery mode problem where e2e is looking for delivery-st

[2020-10-29 09:12] #9490 closed, assigned to Platonn

[2020-10-29 09:16] giancorderoortiz commented on #9371
2011 dev server setup the same way as all others.
Re-opening so I can investigate.

[2020-10-29 09:31] znikola opened #9567 "Enable schematics tests in the organization library to run on CI"
The schmeatics tests for the organization library are currently not able to run on the CI due to setup issues.

To make them run, we'll likely have to move away from jasmine to Jest.

[2020-10-29 09:34] znikola opened #9568 "Schematics - support order-approvals"
In #9499 we extracted the order-approvals as a separate feature in the `organization` library.

Once the `ng add @spartacus/organization` command is ran, it should add both the administration and order-approvals features to the existing Spartacus app.

Once the #9464 is done, we should also respect the `--lazy` flag, and either lazy or eagerly load all the features.

and #9496 is feat: update orga

[2020-10-29 09:38] znikola opened #9569 "Schematics - enable clients to select organization features"
When the `ng add @spartacus/organization` schematics command is ran, _all_ the `organization` features will be added.
The goal of this tickets is to add a support to select which features should be added.

The first choice is to quickly spike the Angular's schematics prompt mechanism, and simply ask the clients a question which features would they like to add.

The second options is add feature-fl

[2020-10-29 09:47] #6945 closed, assigned to Zeyber

[2020-10-29 10:06] janbiasi opened #9570 "SSR rendering doesn't work"
**Describe the bug**
After creating a Spartacus application according to the current documentation together with Angular 10 and Spartacus 3.0.0-next.3 with added SSR schematics the main server side rendering doesn't work for the main Storefront component. If we place static HTML contents to e.g. the `app.component.html` they will be rendered on the server side but not Spartacus (which it should ac

[2020-10-29 10:16] #9535 closed, assigned to giancorderoortiz

[2020-10-29 10:32] tobi-or-not-tobi commented on #9117
FYI the implementation that we provide here is not coming with a generic mix-in that we leverage from a single place. I'm actually fine with this for now, as it would requires a dependency on our core style lib, which is not a nice thing for customers who will not use our style library.

[2020-10-29 10:47] #9532 closed, assigned to tobi-or-not-tobi

[2020-10-29 11:56] #7434 closed, assigned to nobody

[2020-10-29 12:24] #9044 closed, assigned to nobody

[2020-10-29 12:58] #9371 closed, assigned to bgambocjaviniar

[2020-10-29 12:58] #9222 closed, assigned to WeizhengSap

[2020-10-29 12:58] #8592 closed, assigned to temitopeog

[2020-10-29 12:58] #5140 closed

[2020-10-29 12:58] #8570 closed, assigned to LTiger14

[2020-10-29 12:59] Xymmer commented on #6321
old master, closing

[2020-10-29 12:59] #6321 closed

[2020-10-29 13:05] #9117 closed, assigned to nobody

[2020-10-29 13:21] Pucek9 opened #9572 "Empty object request while create/update address"
Observations:
* while open form, pathValue received proper object and updated form correctly
* while save, pathValue received proper object and leave only `{ region: {isocode: '...'}}` in form
* request payload seems like `{}`

When I removed all stuff related to `regions`, the request had whole infromation (without regions obviously).
My suspect is `getRegions()` method

[2020-10-29 13:26] developpeurweb commented on #8511
The approach validated by the architect for this issue is the one reflected on PR #9571 most of the styles for the blue-theme are in place, we are only missing the following parts:

- Strategy for fixing Bootstrap's overriding variables on buttons (hex colors and radius)
- Backend switch (for adding theme class to `<cx-storefront>` tag )

[2020-10-29 13:26] Pucek9 commented on #8907
Some issues (infinite calls, empty address success payload) fixed by Address data is not refreshed after saving + looped unit data calls after address update #8908

Created new issue related to Empty object request while create/update address #9572

[2020-10-29 13:30] developpeurweb commented on #8511
A switchless **hardcoded** version of the blue-theme was created and referenced in this PR #9539 which is **NOT to be merged**, it's only for demonstration purposes.

[2020-10-29 13:31] #9423 closed, assigned to plabadie, WeizhengSap

[2020-10-29 14:00] Platonn opened #9573 "Expose provideOutlet() util to register outlet component"
Currently to register an outlet component, you need to call the service OutletService manually in APP_INITIALZIER, which is complicated. We need to provide util function that simplifies this process.

That said, our long term goal is to drive the outlets registration via config. In future plan to replace the implementation of the provideOutlet() function from using APP_INITIALIZER to standard conf

[2020-10-29 14:03] dunqan commented on #9570
Please check if its not an SSL certificate issue of the backend server. If you want to use node against server without SSL configured properly, you have to turn off security in node.js, specifically disable `NODE_TLS_REJECT_UNAUTHORIZED` flag, for example with:
`cross-env NODE_TLS_REJECT_UNAUTHORIZED=0 node dist/example-storefront/server/main.js`.

[2020-10-29 14:08] dunqan commented on #8407
not an issue anymore

[2020-10-29 14:08] #8407 closed, assigned to Platonn

[2020-10-29 14:14] Platonn opened #9574 "Problem of merging arrays in the global config"
Currently the `deepMerge` function used to merge config chunks, merges deeply the objects, but replaces the arrays.

This is a limitation from the extensibility perspective. For example, customer can't reuse our array from default config and append/insert something custom to our array. He needs to re-define whole cofnig array.

This is becoming an also hot topic for us. As we split code in between

[2020-10-29 14:27] WeizhengSap commented on #9493
PR: https://github.com/SAP/spartacus/pull/9575

[2020-10-29 14:31] #6943 closed, assigned to nobody

[2020-10-29 14:37] Xymmer commented on #9570
@janbiasi let us know if this resolves the issue

[2020-10-29 14:43] giancorderoortiz opened #9576 "Analyze E2E Test Results With 2011 CX Backend"
Analyze failures previously reported.

From @bgambocjaviniar
Findings:

Branch: feature/test-e2e-2011
env: dev4-azure

Looks like the dev4 server for 2011 is not configured properly as most of the failures is related to failing to checkout because the delivery mode is not delivery-standard-net.

THREE things main things for the failures in #build 3, 4, 5 (pre-sessionmanagement feature merge)

deli

[2020-10-29 14:43] giancorderoortiz commented on #9371
https://github.com/SAP/spartacus/issues/9576

[2020-10-29 14:43] giancorderoortiz commented on #8570
https://github.com/SAP/spartacus/issues/9576

[2020-10-29 14:45] giancorderoortiz commented on #9576
From: @bgambocjaviniar

added jenkins job to do the test last Friday

will analyse tomorrow or later today
builds contains recorded tests at the bottom of the of the console output
b2c 2011 https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/test-spartacus-regression-tests-2011-b2c/
b2b 2011 https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/test-spartacus-regression-tests-2011-b2b/

^ for testing

[2020-10-29 14:50] janbiasi commented on #9570
@dunqan @Xymmer thanks a lot for the fast reply, I've tried the proposal and you were right, ignoring the rejection (which wasn't even visible) solved the issue - thanks a lot! 🎉 Is there a way to eventually raise this issue (or similar issues related to the server) somehow in the console as a hint for the devs in the future?

[2020-10-29 14:57] #9422 closed, assigned to znikola

[2020-10-29 15:11] Pucek9 commented on #8907
I think we are not abble fix on frontend that case when we update address with region to country without region.
My proposal for temporary fix is to:
- Add personalized notification: "We can't update this address. Please create a new one instead."

OR

- Disable address edit button, or just country field if there are some regions. (I don't like this solution)

[2020-10-29 15:20] developpeurweb commented on #9117
**For QA:**
This might need redeployment to test in a server, but to test locally do the following:

- Login as `linda.wolf@rustic-hw.com` in B2B
- Go to My Company > Budgets
- Go to `feature-libs/organization/administration/styles/_page-template.scss`
- Move `CompanyPageTemplate` to the blacklist
- See how `My Company > Budgets`'s layout breaks
- Put `CompanyPageTemplate` back in the whitelist an

[2020-10-29 15:45] developpeurweb commented on #7434
**For QA:**
This allows controlling individually most of the page templates' width and some components.

- Go to `projects/storefrontapp/src/styles.scss`
- Add this after Line 8: `.LandingPage2Template {--cx-page-width-max: 100%;}`
- See how Homepage width changes to 100% and other pages won't (e.g. search results page).

[2020-10-29 16:17] developpeurweb commented on #9044
**For QA:**

- Go to `projects/storefrontapp/src/styles.scss`
- Add this on Line 1: `$page-template-blacklist: LandingPage2Template, ProductDetailsPageTemplate;`
- See how the layout breaks on the **Homepage** and **PDP** and not the other pages.
- Remove Line 1 to see layout back to normal
- Additionally, there was only one visual change to unwrap, QA to verify that NO visual change should be per

[2020-10-29 16:31] mirkosoft opened #9579 "Fix the release-it config for organization's schematics dependency"
While doing the Spartacus `3.0.0-next.6` release we realized that release-it config is wrong for schematics dependency in the `feature-libs/organization`.
Let's also remove one not needed file.

[2020-10-29 16:37] developpeurweb commented on #8511
cc @tobi-or-not-tobi to stay in the loop of this ticket's history, as we need his input/strategy on both missing parts referred to in previous comments.

[2020-10-29 16:56] alvteren opened #9581 "Why doesn't use "protected" methods & properties instead of "private" in classes"
Often I need extend any service or component for changing logic in one method. But I can't do this without "hack".

Last few cases:

Firstcase, our backend developer add few fields to cart items. Spartacus model is
[code]
my model:
[code]
but property _items is private
![image](https://user-images.githubusercontent.com/17045072/97605544-ce287b80-1a1f-11eb-9f41-0a7c7ca59054.png)

Second case, I wan

[2020-10-29 16:58] #9559 closed, assigned to mirkosoft

[2020-10-29 17:28] giancorderoortiz commented on #6410
how to qa?

[2020-10-29 17:29] giancorderoortiz commented on #6367
how to qa?

[2020-10-29 17:29] giancorderoortiz commented on #8096
how to qa?

[2020-10-29 17:29] giancorderoortiz commented on #8114
how to qa?

[2020-10-29 17:30] giancorderoortiz commented on #8252
how to qa?

[2020-10-29 17:30] giancorderoortiz commented on #6412
how to qa?

[2020-10-29 17:30] giancorderoortiz commented on #8243
how to qa?

[2020-10-29 17:30] giancorderoortiz commented on #8447
how to qa/validate?

[2020-10-29 17:30] giancorderoortiz commented on #8289
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8247
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8493
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8495
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8484
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8476
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8481
how to qa/validate?

[2020-10-29 17:31] giancorderoortiz commented on #8742
how to qa/validate?

[2020-10-29 17:32] giancorderoortiz commented on #8479
how to qa/validate?

[2020-10-29 17:32] giancorderoortiz commented on #8738
how to qa/validate?

[2020-10-29 17:32] giancorderoortiz commented on #8485
how to qa/validate?

[2020-10-29 17:32] giancorderoortiz commented on #8477
how to qa/validate?

[2020-10-29 17:32] giancorderoortiz commented on #8483
how to qa/validate?

[2020-10-29 17:33] giancorderoortiz commented on #8250
how to qa/validate?

[2020-10-29 17:33] giancorderoortiz commented on #8957
how to qa/validate?

[2020-10-29 17:33] giancorderoortiz commented on #9008
how to qa/validate?

[2020-10-29 17:33] giancorderoortiz commented on #8245
how to qa/validate?

[2020-10-29 17:33] giancorderoortiz commented on #9034
how to qa/validate?

[2020-10-29 17:34] giancorderoortiz commented on #9010
how to qa/validate?

[2020-10-29 17:34] giancorderoortiz commented on #9027
how to qa/validate?

[2020-10-29 17:34] giancorderoortiz commented on #9145
how to qa/validate?

[2020-10-29 17:34] giancorderoortiz commented on #9183
how to qa/validate?

[2020-10-29 17:34] giancorderoortiz commented on #9230
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9232
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9245
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9312
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9315
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9336
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9322
how to qa/validate?

[2020-10-29 17:35] giancorderoortiz commented on #9317
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #9339
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #9338
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #9387
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #8482
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #8249
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #9444
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #8478
how to qa/validate?

[2020-10-29 17:36] giancorderoortiz commented on #8244
how to qa/validate?

[2020-10-29 17:37] giancorderoortiz commented on #8246
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #8489
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #9148
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #9147
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #9149
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #9150
how to qa/validate?

[2020-10-29 17:38] giancorderoortiz commented on #9151
how to qa/validate?

[2020-10-29 17:48] #9579 closed, assigned to mirkosoft

[2020-10-29 18:14] #9493 closed, assigned to plabadie, WeizhengSap

[2020-10-29 18:47] #8220 closed, assigned to plabadie, WeizhengSap

[2020-10-29 18:47] morganm58 commented on #9363
The text "On this Day" has been changed to "On Day"
Before fix
<img width="431" alt="Screen Shot 2020-10-29 at 2 33 19 PM" src="https://user-images.githubusercontent.com/2947470/97617306-f9957100-19f3-11eb-8222-e36ba2523029.png">

<img width="391" alt="Screen Shot 2020-10-29 at 2 32 33 PM" src="https://user-images.githubusercontent.com/2947470/97617478-35303b00-19f4-11eb-8009-c674d7230f43.png">

A

[2020-10-29 18:48] morganm58 commented on #9363
For QA:

Login as william.hunter@rustic-hw.com
Add item to the cart and start the check out process
On Review Order page in the check out process "Auto Replenish Order" is where you will find the changes that were made
Select month(s) and week(s) in the drop down to see the changes.

[2020-10-29 19:19] #9363 closed, assigned to giancorderoortiz

[2020-10-29 19:52] bit-dragon commented on #9440
My organization section is still broken.

@spartacus v3.0.0-next.6
Browser: Chrome 86.0.4240.111

 ![section](https://user-images.githubusercontent.com/1533108/97042214-4f6ea280-1536-11eb-8830-b8188eb2adf4.PNG)

[2020-10-29 20:17] #9456 closed, assigned to Pucek9

[2020-10-29 21:44] #1467 closed

[2020-10-29 23:41] hackergil commented on #8223
@bgambocjaviniar Change looks good and it works. I made a few changes to the unit tests. Please check the latest commit and lmk your comments

[2020-10-30 08:03] tobi-or-not-tobi opened #9584 "Utility for creation static cms structure"
While the creation of static CMS is available through configuration, it's rather cumbersome. We like to introduce an utility method that can be used internally as well as by customers.

The utility would offer the creation of:
- static components
- static page slots/component configuration
- static page template/slot configuration
- static page section/slot configuration

[2020-10-30 10:12] corey-aloia opened #9586 "CDS: For cart push events, sent CartCode in addition to CartId"
When our integration currently sends cart events to the CDS Event Layer (add to cart, remove from cart, change quantity), these events contain a GUID as the cart identifier. However, in the storefront the user sees a different ID - the CartCode.

Scope of this user story is to include the cartCode in the event that the spartacus integration sends to the CDS Event Layer, so ProfileTag can pick that

[2020-10-30 11:35] ChristophHi opened #9588 "Create routing and CMS configuration for CPQ in root entry point"
Also create cx routes

[2020-10-30 11:40] ChristophHi opened #9589 "Architectural prerequisites"
- Owner is aware of configurator type
- Multiple OCC adapters possible
- OCC normalizers and serializers should live in the context of their OCC implementation only

This must not have any relation to CPQ, to be able to merge this to epic/product-configuration if possible (TBD)

[2020-10-30 12:03] marlass opened #9590 "Don't check status of revoke request in e2e tests"
It does not matter which status code server responds with to revoke call. We should only check in e2e tests that the call happened (not the status code).

This causes random failure in login e2e

[2020-10-30 12:09] ChristophHi opened #9591 "CPQ adapter including call for CPQ token"
We need to provide a first version of the CPQ adapter. In createConfiguration, an OCC call for getting the token needs to be done.
The OCC call should be part of cpq-access-loader.service according to the concept we agreed upon.

[2020-10-30 12:29] #9113 closed, assigned to Platonn

[2020-10-30 12:54] giancorderoortiz commented on #9363
Changes seen.
![Screen Shot 2020-10-30 at 8 53 21 AM](https://user-images.githubusercontent.com/46171897/97707359-8dffe200-1a8d-11eb-9c83-f6c4c780f024.png)
![Screen Shot 2020-10-30 at 8 54 05 AM](https://user-images.githubusercontent.com/46171897/97707361-8f310f00-1a8d-11eb-92b9-82d4bd1a40c1.png)

ok

[2020-10-30 13:01] giancorderoortiz commented on #9363
With Firefox:

![Screen Shot 2020-10-30 at 9 00 25 AM](https://user-images.githubusercontent.com/46171897/97707966-6e1cee00-1a8e-11eb-953d-78686bc6f6a7.png)
![Screen Shot 2020-10-30 at 9 00 40 AM](https://user-images.githubusercontent.com/46171897/97707971-6f4e1b00-1a8e-11eb-819d-a80c9adf8413.png)

[2020-10-30 13:03] giancorderoortiz commented on #9535
how to qa?

[2020-10-30 13:08] #9409 closed, assigned to giancorderoortiz

[2020-10-30 13:24] plabadie commented on #9464
PR #9594

[2020-10-30 13:35] giancorderoortiz commented on #9117
Before change to _page-template.scss:

![Screen Shot 2020-10-30 at 9 34 14 AM](https://user-images.githubusercontent.com/46171897/97711227-34021b00-1a93-11eb-8aba-c3a311becdac.png)

---
After change to _page-template.scss:

![Screen Shot 2020-10-30 at 9 33 08 AM](https://user-images.githubusercontent.com/46171897/97711267-4419fa80-1a93-11eb-9d3a-8c5b69b634fe.png)
![Screen Shot 2020-10-30 at 9 32 3

[2020-10-30 13:36] giancorderoortiz commented on #9117
ok

[2020-10-30 13:36] giancorderoortiz commented on #9117
Not sure if this change requires documentation

[2020-10-30 13:48] Pucek9 opened #9595 "Fix notification for create item"
There is problem with use proper messages service in create form.
While edit form worked properly and details section displayed proper messages, I had error for try open create form:
![image](https://user-images.githubusercontent.com/8040837/109968722-5e8b0b80-7cf3-11eb-931f-9ab3596bdd1a.png)

As workaround to avoid break page, I added service
![image](https://user-images.githubusercontent.com/804

[2020-10-30 13:51] giancorderoortiz commented on #7434
Testing performed as mentioned.
Width indeed changes as expected.

![Screen Shot 2020-10-30 at 9 47 51 AM](https://user-images.githubusercontent.com/46171897/97712916-7cbad380-1a95-11eb-838a-efd25001b357.png)
![Screen Shot 2020-10-30 at 9 49 20 AM](https://user-images.githubusercontent.com/46171897/97712928-7fb5c400-1a95-11eb-87a2-8afa8928674c.png)

[2020-10-30 13:51] Pucek9 opened #9596 "Fix notification for unassign all users to being displayed in proper window"
~Current message system base on entity loading flag. `unassignAllMembers` applies to loading state of the user group (supported by messages in details section). But the button is in the section displaying individual users, which message component listens for changes to the individual users loading state flag only.~

The issue is about relation of MessageService between components.

Note: The bigge

[2020-10-30 13:52] giancorderoortiz commented on #7434
Not sure if this small change requires documentation

[2020-10-30 14:12] Platonn commented on #9590
More details from our conversation:

[2020-10-30 14:45] #9572 closed, assigned to Pucek9

[2020-10-30 15:03] PrzemyslawBrambor opened #9597 "Broken refreshing page after adding CDC Module"
**Describe the bug**
After adding CDC Module every refreshing page on any site as logged user redirect to homepage. For non-logged user refreshing working as well.

`    CdcModule.forRoot({
      cdc: [
        {
          baseSite: 'NAME',
          javascriptUrl: 'URL',
          sessionExpiration: 120,
        }
      ],
    }),`

**To Reproduce**
Steps to reproduce the behavior:
1. Add CDCModu

[2020-10-30 15:08] giancorderoortiz commented on #9590
Please detail the flakiness from backend so I can research further.

[2020-10-30 15:09] giancorderoortiz commented on #9590
If you don't check the response code, how do you actually know the token was revoked?

[2020-10-30 15:33] #8499 closed, assigned to Platonn

[2020-10-30 15:43] #9397 closed, assigned to nobody

[2020-10-30 15:44] giancorderoortiz commented on #9425
Session management was merged to develop.
Server not needed.
Communication errors. Misaligned allocation of resources.

[2020-10-30 15:44] #9425 closed, assigned to nobody

[2020-10-30 15:46] #9537 closed, assigned to nobody

[2020-10-30 15:47] giancorderoortiz commented on #9537
@vekterdude  this server can be used by your team.

[2020-10-30 16:00] giancorderoortiz commented on #9044
I see the removal of 'forVersions' as specified in description.

[2020-10-30 16:08] #9492 closed, assigned to Platonn

[2020-10-30 16:09] giancorderoortiz commented on #9044
Homepage and PDP indeed broken, per change, as mentioned above.
All other pages ok.

![Screen Shot 2020-10-30 at 11 55 40 AM](https://user-images.githubusercontent.com/46171897/97729066-ab8e7500-1aa8-11eb-8aed-2fb5f15c815c.png)
![Screen Shot 2020-10-30 at 11 56 07 AM](https://user-images.githubusercontent.com/46171897/97729068-acbfa200-1aa8-11eb-802c-d95f230d1baa.png)
![Screen Shot 2020-10-30 at 1

[2020-10-30 16:32] giancorderoortiz commented on #9367
ok. Fix seen.

![Screen Shot 2020-10-30 at 12 31 05 PM](https://user-images.githubusercontent.com/46171897/97731773-f067db00-1aab-11eb-9efb-ec1da3fdb3ff.png)
![Screen Shot 2020-10-30 at 12 31 12 PM](https://user-images.githubusercontent.com/46171897/97731775-f1007180-1aab-11eb-9247-e3622c784769.png)
![Screen Shot 2020-10-30 at 12 31 40 PM](https://user-images.githubusercontent.com/46171897/9773177

[2020-10-30 16:48] giancorderoortiz commented on #9409
I see the fix.

Before:
![Screen Shot 2020-10-30 at 12 47 06 PM](https://user-images.githubusercontent.com/46171897/97733366-1bebc500-1aae-11eb-952e-21647751dd37.png)

---
After:
![Screen Shot 2020-10-30 at 12 47 15 PM](https://user-images.githubusercontent.com/46171897/97733394-24dc9680-1aae-11eb-9adc-c7509d6b7b4b.png)

[2020-10-30 17:16] #9584 closed, assigned to tobi-or-not-tobi

[2020-10-30 17:21] kacperknapik commented on #9590
We test if we sent the request. We cannot test if the backend did something correctly. It's enough to check if we sent the request.

[2020-10-30 17:25] kacperknapik commented on #9590
How is this a security issue? It's an E2E test. Not a feature.

[2020-10-30 17:26] kacperknapik commented on #9590
It is already mentioned above:

[2020-10-30 17:32] daniel-z opened #9599 "Duplicated carts after login an anonymous user with products in cart (merge carts error)"
**Describe the bug**
When you have are an anonymous users with products in your cart and before checkout you make a login, you get duplicated carts for the same user in backoffice. Also if you finish the checkout, in the UI you immediately get a new cart with the same items than the one before (because a duplicated was created on login).

**To Reproduce**
Steps to reproduce the behavior:
1. As an

[2020-10-30 19:09] #8158 closed, assigned to giancorderoortiz

[2020-10-30 20:20] WeizhengSap opened #9601 "Handle breaking changes for BaseSiteService"
According to #9308, some breaking changes were introduced. Please check this PR and either enchance schematics migrations script or update the migration docs.

[2020-10-30 20:38] saad-mo commented on #9541
- [PR](https://github.tools.sap/cx-commerce/spartacussampledata/pull/143)
- [QA steps](https://github.tools.sap/cx-commerce/spartacussampledata/pull/143#issue-258532) noted in PR description

[2020-10-30 21:06] #8979 closed, assigned to LTiger14

[2020-10-30 21:56] giancorderoortiz opened #9602 "Spike. Functional Tests for B2B My-Company"
Investigation needed to come up with more comprehensive e2e tests for B2B My Company.

Goals:
1. Creation of a whole new business infrastructure.
1.a. Drawback is that it needs to re-use users. Create/Load via impex?
2. Happy Path
3. Negative Path.
3.a. Disable Users.
3.b. Modify Budgets.
3.c. Change user groups.
3.d. Change permissions.
4. Make realistic modifications to Biz Unit and see how it a

[2020-10-30 22:01] giancorderoortiz opened #9603 "Test Token Revocation in Spartacus. Multiple Simultaneous Sessions"
Dependency:
Fix available in 2005.4 and 2011.

See https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-6363 for further details.

Deploy servers accordingly.
Obtain further details from Michael

[2020-10-30 22:01] giancorderoortiz commented on #9603
@plabadie fyi

[2020-10-30 22:08] giancorderoortiz opened #9604 "Spike. Test Requirements for Session Management"
Investigate testing requirements and infrastructure for new session management functionality.

- Come up with list of e2e tests that will validate/verify functionality works.
- Come up with list of negative e2e test case scenarios that are worthy to automate
- Compatibility with token revocation in backend.
- Compatibility with session timeout and refresh token parameters in backend.

---
Ref:
htt

[2020-10-30 22:09] giancorderoortiz commented on #9604
See https://github.com/SAP/spartacus/projects/78

[2020-10-30 22:31] giancorderoortiz commented on #9590
Is it possible to add screenshots or HAR files please? The intermittence described here is rather worrisome. Backend issue, not frontend.

[2020-10-30 22:33] giancorderoortiz commented on #9590
I label issues with "security" regardless of their type when it requires further review/clarification or threat-modelling.  This labeling shouldn't interfere with the work at hand described in ticket.

[2020-10-30 23:05] #8223 closed, assigned to giancorderoortiz

[2020-11-02 05:50] wangzixi-diablo commented on #9527
# More Background

See the focus state border: it intersects with other buttons when tab button is pressed:

![image](https://user-images.githubusercontent.com/58975336/97834181-26a69400-1d12-11eb-87b0-099042699191.png)

[2020-11-02 07:36] wangzixi-diablo commented on #9527
![image](https://user-images.githubusercontent.com/58975336/97841624-3083c380-1d21-11eb-80ac-e470c48d78a4.png)

[2020-11-02 08:18] #9586 closed, assigned to corey-aloia

[2020-11-02 08:29] Abi1234-git opened #9607 "Not able to extend UserAuthenticationTokenService"
**Describe the bug**

Spartacus version : 1.4.4

While extending UserAuthenticationTokenService I am getting error **Type '<T>(winRef: WindowRef, config?: StateConfig) => MetaReducer<T, Action>' is not a constructor function type**

We have a custom implementation of sso in which a separate call is made to refresh the token. We would like to stop the refreshToken call being made from spartacus to

[2020-11-02 09:07] bgambocjaviniar commented on #7991
PR GH-9608

Note: SLR was not supposed to fire a search request in this special page.

QA:
- make sure your network tab is open in dev tools

TEST 1
1) go to slr page
2) use any category nav to navigate to a product list page of category
3) go back to slr page using the category nav under 'digital cameras' and select SLR Cameras
4) make sure no search request happens for this page

TEST 2
- make s

[2020-11-02 11:30] giancorderoortiz commented on #8158
Looks good.
![Screen Shot 2020-11-02 at 6 30 33 AM](https://user-images.githubusercontent.com/46171897/97863423-f42a7600-1cd4-11eb-9e6e-d42397ec5f50.png)

[2020-11-02 11:40] #5153 closed

[2020-11-02 11:41] tobi-or-not-tobi commented on #5153
QA
- open product without reviews
- confirm that the structured data does not contain the product review schema

[2020-11-02 11:45] giancorderoortiz commented on #8223
Test successful.

Main product:
![Screen Shot 2020-11-02 at 6 42 27 AM](https://user-images.githubusercontent.com/46171897/97864667-f55ca280-1cd6-11eb-8880-2af5eac7660f.png)

Suggestion1:
![Screen Shot 2020-11-02 at 6 43 02 AM](https://user-images.githubusercontent.com/46171897/97864677-fd1c4700-1cd6-11eb-9400-7e15d89648a1.png)

Suggestion2:
![Screen Shot 2020-11-02 at 6 43 27 AM](https://user-ima

[2020-11-02 12:01] giancorderoortiz commented on #9103
I see no side effects.
Tested with Chrome v86.
![Screen Shot 2020-11-02 at 7 01 45 AM](https://user-images.githubusercontent.com/46171897/97866121-4a99b380-1cd9-11eb-8084-6a31a8925e56.png)

[2020-11-02 13:19] Pucek9 opened #9610 "Resolve missing context for address subtitle translation"
Need to investigate why we don't get proper context of unit in address components, then remove TODO from units.i18n

[code]

[2020-11-02 13:29] Xymmer opened #9611 "UX for ASM Anonymous Cart Binding"
https://cxwiki.sap.com/display/spar/Feature%3A+ASM+Anonymous+Cart+Binding

[2020-11-02 13:29] Xymmer opened #9612 "[needs specs] UX for ASM Customer Lists"
https://cxwiki.sap.com/display/spar/Feature%3A+ASM+Customer+Lists

[2020-11-02 13:30] Xymmer opened #9613 "UX for Back to Top"
https://cxwiki.sap.com/display/spar/Feature%3A+Back+to+top

[2020-11-02 13:30] Xymmer opened #9614 "UX for Image Zoom (review only)"
Feature description (no SoT): https://cxwiki.sap.com/display/spar/Feature%3A+Image+Zoom
The goal is to contact Louis and go over the image zoomUI as is and make important suggestions and what we might do ino the future. This will allow us to finish this one off quickly.

[2020-11-02 13:31] Xymmer opened #9615 "[spec needed] UX for Focused Checkout"
https://cxwiki.sap.com/display/spar/Feature%3A+Focused+Checkout

[2020-11-02 13:37] giancorderoortiz opened #9617 "PDP for Inexistent Product Missing Header Components/SAP Logo and Footer"
**Steps to Reproduce:**
1. Navigate to Spartacus Electronics homepage.
1.a. Dev branch (Nov 2, 2020)
2. Navigate to any product's detail page.
3. Change the URL to a non-existent product and load page.
3.a. (/product/1978440_md/norealproduct)

**Expected Behaviour:**
3. Page shown shows SAP logo, and all components of header. If logged in, shows my account. Footer is shown as well.

**Actual Behav

[2020-11-02 13:45] giancorderoortiz commented on #9617
![Screen Shot 2020-11-02 at 8 18 16 AM](https://user-images.githubusercontent.com/46171897/97875001-cf8bc980-1ce7-11eb-91e4-ee4804d7d471.png)
![Screen Shot 2020-11-02 at 8 22 34 AM](https://user-images.githubusercontent.com/46171897/97875002-cf8bc980-1ce7-11eb-807a-8f99fd8b1eb7.png)
![Screen Shot 2020-11-02 at 8 43 54 AM](https://user-images.githubusercontent.com/46171897/97875003-d0246000-1ce7-11

[2020-11-02 13:50] #8978 closed, assigned to Pucek9

[2020-11-02 13:50] #8977 closed, assigned to Pucek9

[2020-11-02 13:50] #8999 closed, assigned to Pucek9

[2020-11-02 14:16] marlass opened #9618 "Simplify login/logout API"

[2020-11-02 14:51] giancorderoortiz commented on #5153
Test successful
![Screen Shot 2020-11-02 at 9 50 44 AM](https://user-images.githubusercontent.com/46171897/97881864-eedb2480-1cf0-11eb-9417-21d68afb7290.png)
![Screen Shot 2020-11-02 at 9 50 53 AM](https://user-images.githubusercontent.com/46171897/97881866-eedb2480-1cf0-11eb-9b35-2720755d6969.png)

[2020-11-02 15:00] #9495 closed, assigned to znikola

[2020-11-02 15:24] xavileci commented on #2784
Hello.
I've some issue similar than this.
![image](https://user-images.githubusercontent.com/42523278/97885372-907d6880-1d27-11eb-800e-d5f7f1acdece.png)

I have an Apache Proxy Server configured with differents domains depending if I would like to access to storefront, smartedit, or backoffice site.
I've added below the header to permit cross iframe:
`	Header set Content-Security-Policy "frame-anc

[2020-11-02 16:00] giancorderoortiz commented on #9535
test ok.
Test on actual mobile devices not done.
Browser test doesn't yield errors.
Firefox / Edge show a temporary misalignment in header/search box. But it goes away after a second or so.

[2020-11-02 16:24] #7359 closed, assigned to nobody

[2020-11-02 16:33] mirkosoft opened #9622 "Auth/Session management deprecations"
First, see the PR message: https://github.com/SAP/spartacus/pull/9297

- [x] `integration-libs/cdc/src/auth/facade/cdc-auth.service.ts` - changed constructor
- [x] `integration-libs/cdc/src/auth/services/user-authentication/cdc-user-authentication-token.service.ts` - not part of public API
- [x] `integration-libs/cdc/src/auth/store/effects/cdc-user-token.effect.ts` - changed constructor (EDIT @Pla

[2020-11-02 18:08] jeannewalters commented on #9207
Manu - Finish by 11/06. This will include a review.

[2020-11-02 18:09] jeannewalters commented on #9275
Manu will finish by 11/06. Will include review on Friday.

[2020-11-02 18:14] jeannewalters commented on #9223
This is done.

[2020-11-02 18:17] jeannewalters commented on #9261
Medha will be handoff to Manu by 11/11

[2020-11-02 18:19] jeannewalters commented on #9268
Manu will be done with this (including reviews) by 10/03.

[2020-11-02 18:20] jeannewalters commented on #9263
@Manurod2018 Manu will review and give estimated date.

[2020-11-02 18:21] jeannewalters commented on #9270
Anthony will handoff to Manu on 11/06.

[2020-11-02 18:22] jeannewalters commented on #9259
Manu will complete this by 11/06.

[2020-11-02 18:23] jeannewalters commented on #9273
Anthony will be handing it off to Manu on 11/2.

[2020-11-02 18:29] jeannewalters commented on #9265
@vekterdude Anthony will provide feedback to Bill on phase 1 by 11/6.

[2020-11-02 21:45] plabadie commented on #9395
Run form the feature branch is green https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/spartacus-regression-tests-for-branch/455/

[2020-11-02 22:33] #8763 closed, assigned to nobody

[2020-11-02 23:11] Manurod2018 commented on #9268
See visuals on Zeplin:
Quick Order version A: https://zpl.io/2ZZqWWl
Quick Order version B: https://zpl.io/VKrEMrR

[2020-11-03 08:07] marlass opened #9625 "New Release: 2.1.2"
## General steps

- [x] Validate that all merged tickets were tested (QA column must be empty, except for tickets marked as `not-blocking-release`)
- [x] Create new maintenance branch `release/x.y.z`
- [x] Announce new maintenance branch (Set topic in tribe channel)
- [x] Create release branch `release/x.y.z` from the corresponding branch (develop/maintenance)
- [x] Follow the steps to [release up

[2020-11-03 08:56] znikola opened #9627 "Styling bug in organization scss"
In a shell app, after we add the organization library and run `yarn start`, we get the following error:

[code]

To repro:

1. `ng new xxx --style=scss` and answer `no` to routing.
2. `ng add @spartacus/schematics@next`
3. `ng add @spartacus/organization@next`
4. `yarn start`
5. you should see the error in the console.

[2020-11-03 09:35] #9554 closed, assigned to nobody

[2020-11-03 10:08] giancorderoortiz commented on #1467
Test successful

![Screen Shot 2020-11-02 at 11 05 19 AM](https://user-images.githubusercontent.com/46171897/97972492-98bebd80-1d92-11eb-966b-6e0652afee75.png)
![Screen Shot 2020-11-02 at 11 05 49 AM](https://user-images.githubusercontent.com/46171897/97972494-98bebd80-1d92-11eb-8c9f-2ec66faf5930.png)
![Screen Shot 2020-11-02 at 11 06 40 AM](https://user-images.githubusercontent.com/46171897/97972

[2020-11-03 10:09] giancorderoortiz commented on #1467
May need documentation?

[2020-11-03 11:16] #9468 closed, assigned to dunqan, giancorderoortiz

[2020-11-03 11:19] tobi-or-not-tobi opened #9630 "User library"
We'll isolate user related features to a separate library (see #7959). This will contain multiple features, such as change password, update email address, change user profile, etc.

The user library will be optional in 3.x releases, as it will be a breaking change. You can however already opt-in to use the lib, but the current user related components and logic remains in the storefront and core li

[2020-11-03 11:25] tobi-or-not-tobi opened #9631 "Improve extensibility of update email feature"
As part of #9630 we refactor the update email feature to come up with a cleaner implementation that is better extensible as well. This includes a number of changes:
- delegate controller logic to component service
- clean up component view logic, drop bootstrap for layout
- add inline code documentation
- leverage new lazy loaded service logic

[2020-11-03 11:42] #9489 closed, assigned to Zeyber

[2020-11-03 12:00] #9625 closed, assigned to marlass

[2020-11-03 12:34] dunqan commented on #9468
QA steps:
It's best to use customizations from `qa-9468` brach
(https://github.com/SAP/spartacus/compare/qa/gh-9468?expand=1)

In case the page contained lazy loaded components from lazy loaded feature modules, there was noticable flickering when transitioning from SSR to CSR.

1.  Run the customized app
2. Test if there is a fickering (full repaint with white screen)
3. It's possible to use perfo

[2020-11-03 13:45] giancorderoortiz commented on #8319
Some screenshots of the work completed:

![Screen Shot 2020-11-03 at 7 44 30 AM](https://user-images.githubusercontent.com/46171897/97992618-ed713100-1db0-11eb-90bb-96b263d9ec04.png)
![Screen Shot 2020-11-03 at 7 44 45 AM](https://user-images.githubusercontent.com/46171897/97992620-ed713100-1db0-11eb-8cb9-ee0b01f20c15.png)
![Screen Shot 2020-11-03 at 7 46 24 AM](https://user-images.githubuserconte

[2020-11-03 13:46] giancorderoortiz commented on #8319
![Screen Shot 2020-11-03 at 7 21 31 AM](https://user-images.githubusercontent.com/46171897/97992666-011c9780-1db1-11eb-973a-34b0d6ea1f09.png)
![Screen Shot 2020-11-03 at 7 19 10 AM](https://user-images.githubusercontent.com/46171897/97992682-0679e200-1db1-11eb-9262-3b84b16f77ec.png)
![Screen Shot 2020-11-03 at 7 19 10 AM](https://user-images.githubusercontent.com/46171897/97992708-10034a00-1db1-11

[2020-11-03 14:03] giancorderoortiz commented on #8319
Extensive manual testing done.
Able to approve, reject orders as expected (by both approver and admin, depending on condition)
Order status updated for buyer and also in backoffice.
Closing.

[2020-11-03 14:03] #8319 closed, assigned to plabadie, WeizhengSap

[2020-11-03 14:04] giancorderoortiz opened #9636 "Approval Dashboard E2E Improvements"
Additional test cases to be considered for automation in cypress:

1. Attempt to approve an order already approved.
2. Attempt to reject and order already approved.
3. Attempt to approve an order already rejected.
4. Attempt to reject and order already rejected.
5. Reject direct access to approval dashboard URL
5.a. powertools-spa/en/USD/my-account/approval-dashboard
5.b. By non-admin. By non-appr

[2020-11-03 14:05] giancorderoortiz commented on #8319
For future consideration:
https://github.com/SAP/spartacus/issues/9636

[2020-11-03 14:15] giancorderoortiz commented on #8220
for further consideration https://github.com/SAP/spartacus/issues/9636

[2020-11-03 14:24] #7509 closed, assigned to nobody

[2020-11-03 14:25] LTiger14 commented on #7509
Duplicate of #9594

[2020-11-03 14:56] hackergil commented on #9395
I am seeing a couple of inconsistencies with the LB. First of all, I can’t make the tests pass but locally I can’t make them fail. Second, I’ve had an inconsistent error with checkout where the SOP mock does not respond

We have to review each one of the cluster instances configuration. Also, let's make sure that the load balancer manages sticky sessions correctly.

Let's hold off the switch for n

[2020-11-03 15:20] marlass opened #9638 "Support passing redirect url to logout route"
In few places we don't perform logout with the logout route and we instead invoke manual method. In all of those cases it's done this way, because we want to redirect to specific page.

To avoid those internal logouts we need support in logout guard to take into account query param with desired redirect after logout.

[2020-11-03 16:19] #9627 closed, assigned to tobi-or-not-tobi

[2020-11-03 17:30] #9568 closed, assigned to marlass

[2020-11-03 19:46] bgambocjaviniar commented on #9547
PR: GH-9641

[2020-11-03 20:18] #8845 closed, assigned to nobody

[2020-11-03 20:40] plabadie commented on #9562
PR #9623
Unit tests ran locally:
<img width="1177" alt="Screen Shot 2020-11-03 at 11 15 27 AM" src="https://user-images.githubusercontent.com/7065346/98038273-db13e900-1dea-11eb-94f3-3850f5cb142f.png">
<img width="937" alt="Screen Shot 2020-11-03 at 3 35 59 PM" src="https://user-images.githubusercontent.com/7065346/98038289-e0713380-1dea-11eb-88e8-2c910c039009.png">

[2020-11-03 21:26] LTiger14 opened #9643 "Schematics migration suppor for constructors with no imports"
<img width="1498" alt="Screen Shot 2020-11-03 at 10 02 29 AM" src="https://user-images.githubusercontent.com/10605724/98042132-0dc0e000-1df1-11eb-8218-2a16bb3ab4c2.png">

When writing a schematic for the constructor above you would use the "constructor-deprecation" mechanism. That said, you are forced to provide an import path but the "values" in the inline object don't have imports.

[2020-11-03 23:30] Xymmer commented on #9260
back in progress, would like source of truth with example screenshots and links to ux/visuals as needed

[2020-11-03 23:32] Xymmer commented on #9262
Back to Anthony for source of truth and links to wires/diagrams

[2020-11-03 23:34] Xymmer commented on #9223
back to medha for update of source of truth

[2020-11-04 00:50] arelsirin opened #9644 "Register user after guest checkout does not merge cart"
**Describe the bug**
After performing a successful guest checkout, if you add an item to cart, then register a user, and log in, the cart is lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an item to the cart, and complete the checkout process as guest.
2. After successful checkout, add a new item to cart and proceed to checkout.
3. This time, do not continue as guest, but register

[2020-11-04 08:16] znikola opened #9646 "Schematics - add guide to unit testing"
After talking to a few people, we noticed that it would be of a great value to create a guide to unit testing schematics

[2020-11-04 08:18] Matejk00 opened #9647 "Warning after page refresh on MyCompany pages"
**Steps to reproduce:**
1. Login as Linda Wolf
2. Go to My Company and click"Budgets" for example from My Company homepage.
3. When  budget list will load just refresh the page.

**Current behaviour:**
After page refresh user is redirected back to My Company homepage and warning message shows up:
"No sufficient permissions to access this page".

![warning](https://user-images.githubusercontent.com

[2020-11-04 08:40] #9618 closed, assigned to nobody

[2020-11-04 09:02] tobi-or-not-tobi commented on #9647
I've also noticed that if you're on a non-related storefront page, you will be randomly redirected to the login page. This might be related to one of the new "guards".

[2020-11-04 09:52] #9569 closed, assigned to znikola

[2020-11-04 09:57] marlass commented on #6410
QA steps:
- verify that `getToken` and `getItem` methods from `AuthStorageService` or from `AsmAuthStorageService` are used only inside the `UserAuthModule`.

[2020-11-04 09:59] marlass commented on #6367
QA steps:
- verify in `UserAuthModule` code that we store information about user id only in `UserIdService`.
- it should not be stored in ngrx store
- it should not be stored in AuthStorageService

[2020-11-04 10:01] marlass commented on #8096
QA steps:
- verify that we have dependency on `angular-oauth-oidc` library
- verify that we list this dependency as peerDependenccy in @spartacus/core
- verify that schematics automatically install this dependency

[2020-11-04 10:04] marlass commented on #8114
QA steps:
- check if authorization flow we use still works (passing username and password in form)
- check if asm agent is still able to login to asm ui with username and password
- verify in code that we don't perform this flow by ourselves, but we use `angular-oauth-oidc` for this

[2020-11-04 10:06] marlass commented on #8252
QA steps:
- verify that we don't store any tokens in ngrx store (for user or for cs agent). Does not apply to client token!
- verify in auth code that we don't have actions/effects/reducers that were previously responsible for that
- check that those tokens are handled by `AuthStorageService`

[2020-11-04 10:10] marlass commented on #6412
QA steps:
- check if whole code responsible for client auth is placed in `ClientAuthModule` (services, ngrx, interceptors, models)
- only configuration used by client auth can be outside of this module (as it is shared with user auth)

[2020-11-04 10:13] marlass commented on #8243
QA steps:
- verify that occ endpoints configuration no longer have login and revoke endpoints (also the default config)
- check if you can configure revoke and login endpoint in auth config (`authentication`) and if this configuration is used for token (login with Resource Owner Password Flow) and revoke token calls.

[2020-11-04 10:14] marlass commented on #8447
No need to QA this ticket.
It was simple ticket to fix the build on epic/auth branch.
It was already merged to develop which builds correctly (verified by CI).

[2020-11-04 10:20] marlass commented on #8289
QA steps:
- run app with SSR
- login on client
- verify in redux devtools that on `INIT` action state send from server is not restored in ngrx store when user is logged in (state is empty after this action)
- verify that state is restored in ngrx when user is not logged in (state is not empty after this action, eg. CMS state should have some data)

[2020-11-04 10:43] marlass commented on #8247
QA steps:
- use OpenId OAuth client
- configure scope, responseType and customTokenParameter in `authentication` config
[code]
- verify that after login you can access id token with `OAuthLibWrapperService.getIdToken` method
- check that id token is synchronized to localStorage with rest of the token state
- verify that whole `KymaModule` is removed from the codebase

[2020-11-04 11:13] znikola opened #9649 "Organization schematics - handle multiple runs"
Invoking the `ng add @spartacus/organization` multiple times messes up the shell app setup.
We should add some defensive mechanisms to check if the feature(s) were already setup

[2020-11-04 12:05] marlass commented on #8493
QA steps:
- verify that auth (login, refresh page, logout) works when `AsmModule` is not included in `StorefrontModule`

[2020-11-04 12:09] marlass commented on #8495
This ticket is no longer valid.
We don't have better idea for abstraction on top of UserIdService to accomodate different user id solutions, because we lack information about real world usage of user id.
We kept the usage of `current` in auth services.
However the number of files touching this topic is much smaller and it is feasible to override each service working on it and adjust to specific sc

[2020-11-04 12:12] marlass commented on #8484
QA steps:
- validate that is no longer possible to be logged in at the same time as CS agent and user
- when login as CS agent during user session this user should be instantly emulated (logout should restore user session - only applies if cs agent doesn't stop emulation)
- when CS agent is logged in user should not be possible to login (errors should popup for user)

[2020-11-04 12:14] marlass commented on #8476
QA steps:
- validate availability of client auth code in public API (actions, selectors, ngrx state, services, model, interceptors, module)
- validate the reducers and effects for client auth are not exposed

[2020-11-04 12:15] marlass commented on #8481
QA steps:
- validate that we don't use `makeErrorSerializable` in auth code `core/src/auth` (instead `normalizeHttpError` should be used).

[2020-11-04 12:16] marlass commented on #8742
QA steps:
- verify that all services making use of `StatePersistenceService` cleanup active subscriptions in `onDestroy`.

[2020-11-04 12:18] marlass commented on #8479
QA steps:
- validate that all guard behavior is exactly the same as before (AuthGuard, CartNotEmptyGuard, CheckoutGuard, OrderReturnGuard and rest)
- check if guards return UrlTree instead of invoking `routingService.go`

[2020-11-04 12:22] marlass commented on #8738
QA steps:
- validate if implicit flow works (login, test common user path, logout) with new auth module and OAuth server (add implicit for OAuth client in backoffice and configure redirect url to match the app url).

Configuration needed in app:
[code]

[2020-11-04 12:23] marlass commented on #8485
QA steps:
- validate if authorization code flow works (login, test common user path, logout) with new auth module and OAuth server (add authorization_code for OAuth client in backoffice and configure redirect url to match the app url).

Configuration needed in app:
[code]

[2020-11-04 12:25] marlass commented on #8477
QA steps:
- check if you can access all options from authentication config with `AuthConfigService`.
- check if changes in config are also reflected in results from service methods
- check if in spartacus code we access auth config through `AuthConfigService`. No direct access to config.
- check if `AuthConfigService` returns sensible defaults when some properties are not set in auth config.

[2020-11-04 12:26] marlass commented on #8483
QA steps:
- validate if CDC extension still works as before (login, logout flow mostly)

[2020-11-04 12:27] marlass commented on #8250
QA steps:
- check if the service is covered with enough unit tests

[2020-11-04 12:28] marlass commented on #8957
QA steps for this ticket are the same as for #8484

[2020-11-04 12:29] marlass commented on #9008
QA steps:
- login with CDC extension should not be possible when CS agent is already logged in

[2020-11-04 12:35] Pucek9 commented on #9647
That change in adming guard should help, but IMO better to investigate why userService.get emits empty object
![image](https://user-images.githubusercontent.com/8040837/98112467-90ee3e80-1ea2-11eb-8a0a-65999c7bc130.png)

[2020-11-04 12:50] #9556 closed, assigned to nobody

[2020-11-04 12:54] marlass commented on #8245
QA steps:
- check if `AuthStorageService` is covered with unit tests

[2020-11-04 12:55] marlass commented on #9034
QA steps:
- check if AsmAuthStorageService is covered with unit tests

[2020-11-04 12:57] marlass commented on #9010
QA steps identical as for #8484

[2020-11-04 12:58] marlass commented on #9027
QA steps:
- validate if going to `/logout` page logs user out of spartacus

[2020-11-04 13:08] marlass commented on #9145
QA steps:
- `getOAuthFlow` should return correct flow based on `responseType` option in auth config. If it contains `token` then Implicit flow, if `code` then Authorization Code and for rest of the cases Resource Owner Password Flow

[2020-11-04 13:08] marlass commented on #9183
QA steps:
- validate if login form component does not do anything related to `redirect` after login

[2020-11-04 13:09] marlass commented on #9230
QA steps:
- check if SSR still works as before after merge of auth changes

[2020-11-04 13:14] marlass commented on #9232
QA steps:
- validate in code that `unathorized` handler is removed

[2020-11-04 13:15] marlass commented on #9245
QA steps:
- cart merging should work as before (especially focus on user emulation by cs agent)

[2020-11-04 13:16] marlass commented on #9312
QA steps:
- look for `withUserId` method and check if all occurances were removed

[2020-11-04 13:17] marlass commented on #9315
QA steps:
- TS should not return any errors in CDC library (build works)

[2020-11-04 13:18] marlass commented on #9336
QA steps: verification of implicit and authorization code flows also confirms this ticket.

[2020-11-04 13:18] marlass commented on #9322
QA steps:
- verify that on user emulation start/end we dispatch Login and Logout actions (check in redux devtools).

[2020-11-04 13:19] marlass commented on #9317
QA steps:
- check if we somewhere in our code still do `routingService.go({ cxRoute: 'logout' })`

[2020-11-04 13:20] marlass commented on #9339
QA not needed. This was cleanup ticket for epic branch testing.

[2020-11-04 13:21] marlass commented on #9338
QA steps: validation of implicit flow also cover this ticket scope.

[2020-11-04 13:22] marlass commented on #9387
QA steps:
- check if all auth storage services have inline documentation for methods

[2020-11-04 13:23] marlass commented on #8482
QA steps:
- verify if ASM models, services, actions, selectors, state, modules, config and connectors are exposed in public API
- effects, factories, reducers should not be exported

[2020-11-04 13:24] marlass commented on #8249
QA steps:
- check if `AsmAuthService` is covered with unit tests

[2020-11-04 13:24] marlass commented on #9444
QA not needed as it was merged to develop and all e2e tests passes

[2020-11-04 13:26] marlass commented on #8478
QA steps:
- auth public API should expose actions, services, config, models, facades, modules, guards and interceptors
- factories should not be exposed

[2020-11-04 13:26] marlass commented on #8244
QA steps:
- check if `OAuthLibWrapperService` is unit tested

[2020-11-04 13:27] marlass commented on #8246
QA steps:
- validate if `AuthService` is unit tested

[2020-11-04 13:28] marlass commented on #9554
QA steps:
- there isn't `BasicAuthService` in codebase
- login/logout still works as before

[2020-11-04 13:28] marlass commented on #9618
QA steps:
- verify that `AuthService.logout` method redirects to `logout` page
- verify that error messages are removed after successful login

[2020-11-04 13:50] mirkosoft opened #9650 "Various migrations"
- [x] according to https://github.com/SAP/spartacus/pull/8990 exported class name has been changed | @Platonn edit: not a breaking change. it was not in public API before the change
- [x] `projects/core/src/product/model/search-config.ts` - param name change in the interface, #8874, #9028  | @bgambocjaviniar edit: already being done in https://github.com/SAP/spartacus/pull/9623/files
- [x] `projec

[2020-11-04 14:18] vekterdude commented on #9265
After an extensive review and meeting with Bill Marcotte it was decided that the difference between (architectural) variants and multi-dimensional products are backend only. They are exactly the same thing from the user perspective. They are selected the same and the resulting selection is displayed the same, so the existing UI for variants will perfectly handle multi-dimensional products as far a

[2020-11-04 14:36] Xymmer commented on #9558
1) When customer tries to enter negative budget, we should display error. Add this validation in Spartacus so it avoids the problem. (we'll do this for 3.0)
2) If we get the error cited by GC, make sure to display an error message instead of failing silently. e.g. "Could not save". (we'll do this in future)

[2020-11-04 14:39] Xymmer commented on #9520
Shouldn't appear, well recheck and fix if so

[2020-11-04 14:43] Xymmer commented on #9581
This is mostly by design, @dunqan to provide more info.

[2020-11-04 14:45] Xymmer commented on #9597
@marlass to review and maybe bring it to CDC devs

[2020-11-04 14:46] marlass commented on #9597
Problem is the subscription in `registerEventListeners` method.

This error clear mechanism and redirect should be moved to more appropiate place which is invoked after user login.

[2020-11-04 14:47] Xymmer commented on #9599
@daniel-z: Could you tell us which version of Spartacus libraries or repo you are using? then we can try to repro.

[2020-11-04 14:49] Xymmer commented on #9607
@Abi1234-git: To make a determination, we'd need to see your custom code. There's a feeling maybe it's something to do with how it's being used. That being said, we support only latest 1.x right now, so that would be 1.5.x. Can you upgrade and let us know if the problem still exists?

[2020-11-04 14:51] Xymmer commented on #9644
@arelsirin: can you tell us what version of Spartacus libraries you are using? We have a feeling this is a backend limitation but we will verify.

[2020-11-04 14:53] Xymmer commented on #9570
@janbiasi glad that it worked! we will create follow up ticket with your suggestion about adding hint to console.

[2020-11-04 14:53] #9570 closed, assigned to nobody

[2020-11-04 14:55] Xymmer commented on #8288
it's been a few months, closing, please reopen if it's still an issue

[2020-11-04 14:55] #8288 closed, assigned to nobody

[2020-11-04 14:58] #9428 closed, assigned to Platonn, giancorderoortiz

[2020-11-04 14:58] temitopeog commented on #9597
Thanks again @marlasak for looking into this!

[2020-11-04 15:14] Manurod2018 commented on #9275
See visuals on Zeplin: https://zpl.io/aBrNX1O

[2020-11-04 15:22] arelsirin commented on #9644
@Xymmer  Sure thing, sorry, it is version 2.0.2.

One more thing I noticed is that the same issue takes place if a user just logs in (no need for registering) after performing a guest checkout.

[2020-11-04 15:33] Platonn opened #9652 "Migration for removed public members of CartItemComponent"
[code]

See PR https://github.com/SAP/spartacus/pull/9430

[2020-11-04 15:38] giancorderoortiz commented on #9492
how to qa?

[2020-11-04 15:40] Manurod2018 commented on #9207
See visuals on Zeplin: https://zpl.io/bArENyq

[2020-11-04 15:46] Manurod2018 commented on #9263
Manu will finish by 11/11.

[2020-11-04 16:13] #9544 closed, assigned to plabadie, WeizhengSap

[2020-11-04 16:13] Platonn commented on #9428
QA showed that it doesn't work for links to PDP, when you're already on PDP (due to angular avoiding re-load of navigation when link points to the current page).
So implemented a new `cxModal` directive for closing modals on links explicitly.

[2020-11-04 16:56] Platonn opened #9656 "[blocked by #12443] Remove deprecated OutletContextData.context static property"
- Remove deprecated `OutletContextData.context` static property.

 Suggest using `OutletContextData.context$` observable property instead:
- document migration
- add schematics for migration

Original PR https://github.com/SAP/spartacus/pull/9431/files#diff-1d2e9e01ddcc32059bd4439761ccd96052b738d62802825e1d228356dc15ba81R31

[2020-11-04 16:59] #9286 closed, assigned to nobody

[2020-11-04 17:02] Platonn commented on #9563
Double checked all work is planned in other tickets. Closing.

- #9431 - no breaking changes. added deprecation. to be removed in 4.0 in https://github.com/SAP/spartacus/issues/9656
- #8662 - no breaking changes, no migration
- #8200 - breaking changes and migration handled in #8201
- #8224 - no breaking changes, no migration
- #8117 - breaking changes and migration handled in #8116

[2020-11-04 17:03] #9563 closed, assigned to nobody

[2020-11-04 17:22] Parthlakhani commented on #8763
Tested on local, It works as expected.

[2020-11-04 18:03] Platonn commented on #9581
The extensibility of the `ProductListComponentService` has been improved in v2.1. See PR https://github.com/SAP/spartacus/pull/7987

[2020-11-04 18:21] marlass commented on #7951
Any Windows 10. Maybe even older versions

[2020-11-04 18:49] ren-tham commented on #8923
PR: (#9661 )

[2020-11-04 19:39] Parthlakhani commented on #8845
Tested on local while pointing to DEV-0 backend, works as expected.

[2020-11-04 19:52] #9037 closed, assigned to giancorderoortiz

[2020-11-04 20:02] LTiger14 commented on #9037
### QA

1. Turn guest checkout on
[code]
2. Add product to cart and click proceed to checkout
3. Select guest checkout and enter an email
4. Go to checkout
5. On any step refresh the window -> **You should still be on that step**

[2020-11-04 20:32] bgambocjaviniar commented on #8869
Backend SAMPLE PR: https://github.tools.sap/cx-commerce/spartacussampledata/pull/144/files

[2020-11-04 21:00] #7991 closed, assigned to giancorderoortiz

[2020-11-04 21:14] bgambocjaviniar commented on #9547
The changes above were not exposed by the public api before the change, therefore closing

[2020-11-04 21:14] #9547 closed, assigned to bgambocjaviniar

[2020-11-04 21:44] bgambocjaviniar commented on #8202
removing the MVP milestone to remove confusion as this ticket is just a 'master' ticket

[2020-11-05 07:51] #9647 closed, assigned to Matejk00

[2020-11-05 11:21] #8201 closed, assigned to nobody

[2020-11-05 11:23] kacperknapik commented on #8489
**QA steps**
1. create a variable
2. add `StateConfig` type to it (look at the screenshot below)
3. add `state` object, within it try to use `storageSync`

**Expected**
1. `storageSync` prop should be shown with a strikethrough (look at the screenshot below)
2. `storageSync` prop (when used) on hover, should show `@deprecated` info

![image](https://user-images.githubusercontent.com/22354613/98234

[2020-11-05 11:49] #8116 closed, assigned to Platonn

[2020-11-05 12:02] janwidmer commented on #7993
Hey @Xymmer is the new issue you mentioned already created (just so that we can keep track of it..)?

[2020-11-05 12:18] marlass opened #9665 "Auth/session management deprecations - part 2"
Ticket created based on #9622
That one contained a lot of work and I splitted the part that is not tightly related to auth module, but changed with the `epic/auth` merge.

- [x] `integration-libs/cds/src/merchandising/cms-components/merchandising-carousel/merchandising-carousel.component.ts` - new property, set in constructor
- [x] `projects/core/src/cart/facade/active-cart.service.ts` - changed c

[2020-11-05 12:24] #9038 closed, assigned to nobody

[2020-11-05 12:51] #9106 closed, assigned to nobody

[2020-11-05 12:56] giancorderoortiz commented on #9037
Able to confirm fix. Cool.

[2020-11-05 12:56] giancorderoortiz commented on #9037
Tested extensively looking for spinner. Couldn't reproduce after fix.

[2020-11-05 12:56] giancorderoortiz commented on #9037
![Screen Shot 2020-11-05 at 5 51 02 AM](https://user-images.githubusercontent.com/46171897/98243795-74064980-1f3c-11eb-9684-c43a914c0ea8.png)
![Screen Shot 2020-11-05 at 5 58 55 AM](https://user-images.githubusercontent.com/46171897/98243797-74064980-1f3c-11eb-80d9-bacad1e58089.png)

[2020-11-05 12:59] ChristophHi opened #9666 "[Med] Rename CheckoutService.getCheckoutDetailsStable() to isLoading(), have callers turn result"

[2020-11-05 13:04] Matejk00 opened #9667 "Shipping address cannot be created for my-company unit"
**Steps to reproduce:**
1. Login as Linda Wolf
2. Go to My Company and select Units from my-company homepage
3. Select random unit from the list/tree then go to "Shipping addresses"
4. Click Create from top right to create new shipping address
5. Fill a form with valid data and click save

**Current behaviour:**
Address is not created, error message shows up

![image (12)](https://user-images.gith

[2020-11-05 13:17] Pucek9 commented on #9667
Created and updated too

[2020-11-05 13:43] giancorderoortiz commented on #9428
Test successful.
Tested with Chrome, FF, Edge.
Behaves as expected after fix.

[2020-11-05 14:05] #9646 closed, assigned to znikola

[2020-11-05 14:44] LTiger14 commented on #9564
PR: #9669

[2020-11-05 14:51] LTiger14 opened #9670 "Schematics contructor deprecation should handle contructor decorators"
<img width="356" alt="Screen Shot 2020-11-04 at 4 10 41 PM" src="https://user-images.githubusercontent.com/10605724/98256539-aae45b80-1f4c-11eb-9f87-d7be45ecdfb5.png">

Some constructors can contain decorators for certain dependencies as shown in the screenshot above.

Schematics does not handle these correctly, the generated code is
`@Inject(PLATFORMID)Platform: @Inject(PLATFORMID)Platform`. Addi

[2020-11-05 15:20] #9652 closed, assigned to nobody

[2020-11-05 15:44] Pucek9 opened #9671 "Unify user roles checkboxes"
User form (user -> create/edit & unit -> users -> create) uses different styles for checkboxes, than change roles form (unit -> users -> roles).
![image](https://user-images.githubusercontent.com/8040837/98262746-41813e80-1f86-11eb-81ed-363aea353dc5.png)
IMO the left side seems better, let's fix UnitUserRolesFormComponent.

[2020-11-05 15:50] #9551 closed, assigned to nobody

[2020-11-05 15:52] Pucek9 commented on #9052
Closed by other PR and improved by #9621

[2020-11-05 15:52] #9052 closed, assigned to nobody

[2020-11-05 15:55] Platonn opened #9672 "Add specific selectors to all organization table-cell components"
Follow up of https://github.com/SAP/spartacus/issues/9466 . This ticket if only for the organization table-cell components. i.e. `RolesCellComponent`. We need to add selectors for them and ensure the look of tables is unchanged.
It's a breaking change in the DOM structure, so need to do before RC.

Note: it would be good to remove `.content-wrapper` in favour of element selector `cx-table-data-cel

[2020-11-05 16:14] hackergil opened #9673 "DoD update"
Add the following requirements and their descriptions for new features to our Definition of Done doc:

- [x] Lazy loading

- [x] Sample data

- [x] Schematics deprecations

[2020-11-05 16:14] bgambocjaviniar commented on #9650
PR: GH-9662

[2020-11-05 16:31] #8459 closed, assigned to Xymmer

[2020-11-05 17:22] #9466 closed, assigned to tobi-or-not-tobi, Pucek9

[2020-11-05 18:25] WeizhengSap commented on #9601
The test result:
![Screen Shot 2020-11-05 at 1 20 03 PM](https://user-images.githubusercontent.com/44440575/98281187-68ca1280-1f6a-11eb-9391-4b3b105d8970.png)

[2020-11-05 18:29] WeizhengSap commented on #8459
To QA: it can be tested in smartedit. You should be able to open the product details page in smartedit.

[2020-11-05 18:42] LTiger14 commented on #5652
QA:
- On chrome, login as a customer.
- Add a product to cart.
- On firefox, login with the same customer. Go to cart page
- On chrome, proceed to checkout and place the order.
-  On firefox, click on "Proceed to checkout"

-> You should be redirect to cart with a global message

[2020-11-05 20:42] Manurod2018 commented on #9259
See visuals on Zeplin:
https://zpl.io/aNrKpMv

[2020-11-05 23:37] tobi-or-not-tobi commented on #8286
I'd prefer the following:
- schematics installer should not add the prefix unless specifically been requested (using `--occPrefix`)
- default the prefix value to the new prefix `/occ/v2` (new since 2005)

[2020-11-06 06:58] dunqan opened #9677 "Deferred loading causes flickering with SSR"
When deferred loading is used, there's a flickering issue caused when the page is initially served by SSR. Since the SSR generated page will ignore deferred loading, all DOM will land initially in the browser. When, however, the CSR kicks in, the DOM will be replaced by the CSR rendered DOM. The CSR app will respect the deferred loading configuration, which leads to some elements being cleared ini

[2020-11-06 07:29] janwidmer opened #9680 "cx-media does not work with images with different ratio's"
**Describe the bug**

cx-media does not work with images with different ratio's, but the Simple responsive banner is using it exactly like that.

**Tell us the version of Spartacus**

- Feature Level 3.0, library version 3.0.0-next.3

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the spartacus demo page: https://spartacus-demo.eastus.cloudapp.azure.com/electronics-spa/en/USD/
2. Open

[2020-11-06 07:59] tobi-or-not-tobi commented on #8818
For permanently or ad-hoc closing APIs on CCv2, there's runtime configurable option, see https://help.sap.com/viewer/DRAFT/9d346683b0084da2938be8a285c0c27a/2011/en-US/b28e0f5589a3447ba9c67dc43c938d5c.html for more info.

[2020-11-06 09:12] tobi-or-not-tobi opened #9681 "Handle fake URLs on SSR"
When Spartacus is launched, the route is handled by the router logic. There are 4 different types of routing that will be evaluated:
1. the route should be handled by a custom router path; the customer has added hard-coded routes, and we should prioritise those.
2. the route is either a PLP or PDP
3. the route is a CMS content page
4. the route is unknown (404 not found)

When an incorrect URL is

[2020-11-06 11:07] mirkosoft opened #9682 "Translation migrations"
To see what has been changed just run `git diff XXX..ZZZ` as given below:
- [x] `projects/assets/src/translations/translation-chunks-config.ts` `5678fe2c8..d18cca7c8`
- [x] `projects/assets/src/translations/en/checkout.ts` `c5b2e4ed2..1039099a8`
- [x] `projects/assets/src/translations/en/user.ts` `9337b5795..a86fad5d`

[2020-11-06 11:44] LTiger14 opened #9683 "Handle migration for 5652"
#5652 added one dependency to the constructor of multi-cart service. Add this to the migrations.

[2020-11-06 11:56] LTiger14 commented on #9683
PR: #9684

[2020-11-06 13:50] marlass opened #9687 "New Release: 2.1.3"
## General steps

- [x] Validate that all merged tickets were tested (QA column must be empty, except for tickets marked as `not-blocking-release`)
- [x] Create new maintenance branch `release/x.y.z`
- [x] Announce new maintenance branch (Set topic in tribe channel)
- [x] Create release branch `release/x.y.z` from the corresponding branch (develop/maintenance)
- [x] Follow the steps to [release up

[2020-11-06 14:14] #9526 closed, assigned to wangzixi-diablo

[2020-11-06 14:21] 749 opened #9688 "NavigationUiComponent needs multiple clicks on Desktop to restick the navigation flyout"
**Describe the bug**
In the Desktop view, when clicking back and forth between two of the Categories after each has been clicked once, you need two mouse clicks to make the Category stick open again.

**Tell us the version of Spartacus**
Noticed on:
- 2.1.1
Also exists on current Demo store: (probably core-3.0.0-next.6)?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://spartacus

[2020-11-06 15:33] corey-aloia opened #9689 "Cart events are not triggered when a user is logged in"
**Describe the bug**
Cart events are not triggered when a user is logged in

**Tell us the version of Spartacus**
develop branch

**To Reproduce**
Steps to reproduce the behavior:
1. eventService.get(CartAddEntrySuccessEvent)
2. Login/Register
3. Add an item to cart
4. Observe that the event is not triggered

**Expected behavior**
The event is triggered

**Screenshots**
![image](https://user-image

[2020-11-06 15:34] WeizhengSap opened #9690 "Handle constructor deprecation for 'CmsComponentsService'"
https://github.com/SAP/spartacus/blob/develop/projects/storefrontlib/src/cms-structure/services/cms-components.service.ts#L28-L36

We need schematics to support it (`Object` type in parameter)

[2020-11-06 15:35] WeizhengSap commented on #9550
Created a follow-up tickets: #9690 and #9697

[2020-11-06 15:41] LTiger14 opened #9691 "Handle contructor deprecation migration for 'BreakpointService'"
The constructor in `BreakpointService` got a new dependency in 3.0. This dependency is :

`@Inject(PLATFORM_ID) protected platform: any`. Schematics does not support `@Inject(PLATFORM_ID)` yet nor does it support the `any` type in constructors.

Once #9670 and #9643 are done, create the constructor migration for `BreakpointService`.

[2020-11-06 15:46] znikola opened #9692 "Schematics - print v3 css docs link"
Title.
At the same time, we should update our v2 css docs link, as the current one is giving us 404.

[2020-11-06 16:04] bgambocjaviniar commented on #9601
moved it back in code review as it requires a schematic owner's approval

[2020-11-06 16:06] bgambocjaviniar commented on #8869
QA:
- re-initialize backend with latest `release/2005/next` branch
- verify in b2b storefront that quotes and returns are gone from my account dropdown

[2020-11-06 16:06] #8869 closed, assigned to giancorderoortiz

[2020-11-06 16:10] #9590 closed, assigned to kacperknapik

[2020-11-06 16:19] corey-aloia opened #9694 "Items are not added to the same cart they are ordered from"
Opening a ticket here to start the discussion.
The following functionality in CDS is broken:
- Anonymous user adds an item to cart
- The user Registers + Logs in
- The user places an order

The CDS backend creates a json document whereby the properties for a cart and an order are connected.
This connection requires 2 events:
AddedToCart
OrderCreated

In this scenario, the AddedToCart event comes f

[2020-11-06 16:30] bgambocjaviniar opened #9695 "Breaking change on storefront component that was introduced in 8763"
https://github.com/SAP/spartacus/pull/9154

`projects/storefrontlib/src/layout/main/storefront.component.ts`

1 - need to mention in the `md` that the behavior for this method only gets fired when it's a header
2 - method param changed from MouseEvent to any so it's worth mentioning in the method-and-deprecation

[2020-11-06 16:49] #9692 closed, assigned to znikola

[2020-11-06 17:17] #9545 closed, assigned to nobody

[2020-11-06 17:22] bgambocjaviniar opened #9696 "Breaking change in product reference component from #8223"
https://github.com/SAP/spartacus/pull/9433/files

- [x] `projects/core/src/product/facade/product-reference.service.ts` deprecated method which was decoupled to have loading of a reference and getting the reference
- [x] `projects/storefrontlib/src/cms-components/product/carousel/product-carousel.service.ts` deprecated method which was not supposed to be there in the first place
- [x] `projects/st

[2020-11-06 19:08] giancorderoortiz commented on #7991
ok, I agree with the fix.
However the description of the ticket and the qa steps are contradictory.
Search functionality not affected because of this change.

[2020-11-06 19:09] giancorderoortiz commented on #7991
![Screen Shot 2020-11-06 at 2 08 47 PM](https://user-images.githubusercontent.com/46171897/98405062-a0ec5680-2039-11eb-92d0-a929211c3e3e.png)

[2020-11-06 19:11] giancorderoortiz commented on #8869
Expensive testing.

[2020-11-06 19:15] plabadie opened #9697 "Handle breaking change for constructor in ConfigInitializerService"
See https://github.com/SAP/spartacus/blob/develop/projects/core/src/config/config-initializer/config-initializer.service.ts#L23

Depends on schematics support for the `any` type in parameter.

[2020-11-06 19:23] giancorderoortiz commented on #5652
It's somewhat clunky, but it will do for now.
Tested with Chrome, FF, Edge.

![Screen Shot 2020-11-06 at 2 22 33 PM](https://user-images.githubusercontent.com/46171897/98406257-a34fb000-203b-11eb-8cb2-e6132166358f.png)

[2020-11-06 19:36] #9601 closed, assigned to nobody

[2020-11-06 20:08] #9650 closed, assigned to bgambocjaviniar

[2020-11-06 21:08] #9564 closed, assigned to LTiger14

[2020-11-06 21:09] ren-tham commented on #9695
Pr (#9699 )

[2020-11-06 21:19] bgambocjaviniar commented on #9696
PR: GH-9700

[2020-11-06 21:32] plabadie commented on #9054
After an out of the box initialization, the product search works for me without any manual indexing steps.

[2020-11-07 01:14] hackergil opened #9701 "Handle CSS deprecations for Scheduled replenishement"
Replenishments PR #9114

Example from previous major version (V2) [here](https://sap.github.io/spartacus-docs/css-changes-in-version-2/)

[2020-11-08 19:17] giancorderoortiz commented on #9054
2005 or 2011?
Did you have any properties setup for enabling OOTB ?

[2020-11-09 07:23] medzneel commented on #9260
Below are the links to the visuals.
Mobile
https://app.zeplin.io/project/5f062d700cf6485b7607df80/screen/5f91a40c2842628a84fb349b

Desktop
https://app.zeplin.io/project/5f062d700cf6485b7607df80/screen/5f91a4119751d10b9dc28bfb

[2020-11-09 09:53] #9687 closed, assigned to marlass

[2020-11-09 10:50] tobi-or-not-tobi commented on #9680
@janwidmer thanks for this report. I've evaluated the behaviour of the component, and drafted a documentation around it, see https://github.com/SAP/spartacus-docs/pull/845. Please note that this is a draft version (but appreciate your feedback).

Regarding the image not showing up, I do not think we have an actual bug, but we can do an improvement. He's what's going on:
- the media srcset is provi

[2020-11-09 11:30] marlass opened #9703 "Prepare events for login/logout."
As new auth architecture avoids store we would like to expose at least information to other services not dependent on store of actions such as `login` or `logout`. Often we need clear some state or perform some actions on those events.

[2020-11-09 12:13] janwidmer commented on #9680
Hey @tobi-or-not-tobi,

Thanks for the quick reaction. I agree that it is not a bug. :-) And as you explained, the wrong image is taken for displays with higher pixel density. That would all still be ok, because from a technical point of view, high density images are already possible, by defining more image formats with the same ratio, but with a bigger resolution.

A little bit problematically in

[2020-11-09 13:08] ReneRath commented on #9694
AFAICS in the accelerator storefront the AddedToCart event already contains the cartCode (integer as opposed of guid). So from the looks of it, Spartacus behaves different than Accelerator here. Cannot say which is more correct.

[2020-11-09 13:14] arelsirin commented on #9644
After digging deeper into the issue we noticed that it was a custom extension of the ActiveCartService that was causing the issue. The ActiveCartService constructor was being executed twice and this was making the cart merge intent to be executed 2 times. Problem was solved by creating a separate service instead of extending ActiveCartService.

[2020-11-09 13:14] #9644 closed, assigned to LTiger14

[2020-11-09 13:16] arelsirin commented on #9599
@Xymmer this issue took place in 2.0.2 and it was related to the same issue reported in https://github.com/SAP/spartacus/issues/9644 (it took place in the same project).

We believe it can be closed for the same reason stated in 9644.

[2020-11-09 13:31] Pucek9 opened #9704 "Can't use spartacus after logout on organization page"
Steps to reproduce (recommended incognito mode):
1 login as linda
2 open [organization home page](http://localhost:4200/powertools-spa/en/USD/organization)
3 click Sign out

Observed results:
- we don't see any UI effect, but links are not openable
- spartacus⚿⚿auth - access token is not cleared
- console error:
[code]
After refresh page - access to spartacus is unavailable (until we clean token m

[2020-11-09 14:10] #9562 closed, assigned to plabadie, WeizhengSap

[2020-11-09 14:54] #9683 closed, assigned to LTiger14

[2020-11-09 15:25] #9667 closed, assigned to Matejk00

[2020-11-09 15:43] Pucek9 commented on #9557
I think you were jumping between sorting options and didn't observe request, because they were cached already. If you refresh the page and change sorting code, you will see new request with different query params

Initial:
Request URL: https://spartacus-dev3.eastus.cloudapp.azure.com:9002/occ/v2/powertools-spa/users/current/orgCustomers?pageSize=10&sort=byName&lang=en&curr=USD

After change code t

[2020-11-09 15:57] Pucek9 commented on #9557
Additionally, query params like `totalPages` and `totalResults` are added to all requests while change sorting/pagination (eg. cost centers, unit/approvers/assign). That's unexpected. Created new issue for that: #9709

[2020-11-09 16:06] Pucek9 commented on #9557
To fix an issue it's enough remove that part:
![image](https://user-images.githubusercontent.com/8040837/98565422-e44efb00-22ad-11eb-8955-304a7ecda561.png)

[2020-11-09 16:08] Pucek9 opened #9709 "Unexpected query params while change sort/page"
Query params like `totalPages` and `totalResults` are added to all requests while change sorting/pagination (eg. cost centers, unit/approvers/assign). IMO that's unexpected.

[2020-11-09 16:20] plabadie commented on #9054
2005 and below I'm sure search works ootb.  Which version do you have this issue with?

[2020-11-09 16:29] #9672 closed, assigned to Platonn, Pucek9

[2020-11-09 16:29] marlass opened #9711 "Auth/session management deprecations - guards"
Ticket created based on #9622
That one contained a lot of work and I splitted the part that is not tightly related to auth module, but changed with the `epic/auth` merge.

- [x] `projects/storefrontlib/src/cms-components/cart/cart-not-empty.guard.ts` - changed constructor
- [x] `projects/storefrontlib/src/cms-components/checkout/guards/checkout-auth.guard.ts` - changed constructor --> **EDIT: Bria

[2020-11-09 16:34] marlass opened #9712 "Auth/session management deprecations - part 3"
Ticket created based on #9622
That one contained a lot of work and I splitted the part that is not tightly related to auth module, but changed with the `epic/auth` merge.

**NOTE: Please put your name or PR next to the checkbox when working on it:**

- [x] `projects/storefrontlib/src/cms-components/product/carousel/product-carousel.service.ts` - changed constructor **EDIT: Brian:** compared epic a

[2020-11-09 16:36] marlass opened #9713 "Auth/session management deprecations - part 4"
Ticket created based on #9622
That one contained a lot of work and I splitted the part that is not tightly related to auth module, but changed with the `epic/auth` merge.

- [x] `projects/core/src/user/facade/user-order.service.ts` - changed constructor
- [x] `projects/core/src/user/facade/user-payment.service.ts` - changed constructor
- `projects/core/src/user/facade/user-replenishment-order.serv

[2020-11-09 16:37] marlass opened #9714 "Auth/session management deprecations - part 5"
Ticket created based on #9622
That one contained a lot of work and I splitted the part that is not tightly related to auth module, but changed with the `epic/auth` merge.

- [x] `projects/core/src/cart/services/multi-cart-state-persistence.service.ts` - changed public functions
- [x] `projects/core/src/product/facade/product-reference.service.ts` - changed properties
- [x] `projects/core/src/globa

[2020-11-09 16:47] plabadie commented on #9617
The problem seems worse now.  We see a blank page for a nonexistent product, but also for a non existing category and a non existing regular CMS content page

<img width="1279" alt="Screen Shot 2020-11-09 at 11 43 37 AM" src="https://user-images.githubusercontent.com/7065346/98570209-2c0b5d80-2281-11eb-9873-47e64788f555.png">
<img width="1281" alt="Screen Shot 2020-11-09 at 11 44 06 AM" src="https

[2020-11-09 16:49] Pucek9 commented on #9704
While logout on home page:

Request URL: https://spartacus-dev3.eastus.cloudapp.azure.com:9002/authorizationserver/oauth/revoke
Request Method: POST
Status Code: 401
[code]
&
Request URL: https://spartacus-dev3.eastus.cloudapp.azure.com:9002/authorizationserver/oauth/revoke
Request Method: POST
Status Code: 200
[code]
![image](https://user-images.githubusercontent.com/8040837/98570477-c84e5800-22b

[2020-11-09 17:31] #9557 closed, assigned to Pucek9

[2020-11-09 19:36] Pucek9 commented on #9704
Found a [commit](https://github.com/SAP/spartacus/commit/752a1fa6bbd8e3d419ed8afa10ed8f1a56a2d64d) which starts the problem (#9624)

[2020-11-09 20:15] LTiger14 commented on #9697
Support for this will be added to schematics in #9670 & #9643

[2020-11-09 20:15] LTiger14 commented on #9690
Support for this will be added to schematics in #9670 & #9643

[2020-11-09 22:38] hackergil commented on #9701
Docs PR [here](https://github.com/SAP/spartacus-docs/pull/852)

[2020-11-10 07:43] #6429 closed

[2020-11-10 07:47] tobi-or-not-tobi commented on #2245
@Xymmer I'm in favour of closing this ticket, as there's not reasonable approach to align the lines, it would require an alternative UI; The line below the facet heading will move up and down, based on the existence of the selected facet values. The line of the sorting/pagination is however static and will not change.

Please note that we already dropped the "Filter by" heading a while back in cas

[2020-11-10 07:47] #2245 closed

[2020-11-10 08:34] #2507 closed

[2020-11-10 09:45] Matejk00 opened #9719 "Empty state field during unit shipping address edit"
**Steps to reproduce:**
1. Login as Linda Wolf
2. Go to My Company and select Units from my-company homepage
3. Select random unit from the list/tree then go to "Shipping addresses"
4. Click Create from top right to create new shipping address
5. Fill a form and for country select one with states (e.g. Canada), then select a state (e.g. Manitoba)
6. Click save
7. Select newly created address from

[2020-11-10 09:46] steinsebastian opened #9720 "Refactor group status handling using new flags from OCC API."
+ Use new flags
+ Remove unnecessary status calculation code in SPA

[2020-11-10 09:48] steinsebastian opened #9721 "Adapt Cypress tests to new group status handling"

[2020-11-10 10:17] PrzemyslawBrambor commented on #9597
@temitopeog @marlass any new status relating to this issue?

[2020-11-10 10:30] marlass commented on #9597
We are currently busy with preparation of 3.0 release. I can't promise any deadline with the fix for this issue.

[2020-11-10 10:40] #9704 closed, assigned to Pucek9

[2020-11-10 10:49] andreas-becker commented on #3196
Any updates on this so far? If not, might it be possible to change the `populateLink` function from `private` to `protected`? Then it will be possible to override only this function to include more return attributes (f.e. styleClasses which can be set in SmartEdit)

[2020-11-10 11:00] ChristophHi opened #9723 "[Major ]Make VC OCC endpoint IDs configurator specific"
See  /feature-libs/product/configurators/rulebased/occ/variant/default-occ-configurator-variant-config.ts

[2020-11-10 11:07] tobi-or-not-tobi opened #9724 "Store the static and dynamic baseSite data to the baseSite service"
The current baseService does not expose the base site data that has been captured during a multi-site setup. This means that if we want to drive Spartacus features based on baseSite data, we need to another backend call. This is bad for performance.

Adding the base site data from the multi-site setup is relative complex as the logic to resolve the data must be done prior to anything in Spartacus.

[2020-11-10 11:45] tobi-or-not-tobi commented on #9627
If you're using next-6 release, you can unblock yourself with the following steps:
- Add `@import "@spartacus/organization"` to the main `styles.scss`.
  underneath the import of the spartacus/styles
- remove the import of the same styles in the `styles/spartacus-organization.scss` file

[2020-11-10 12:47] #8489 closed, assigned to nobody

[2020-11-10 13:30] Platonn opened #9726 "Missing translations after ng add @spartacus/organization"
After installations of Spartacus 3.0-next.6 there are missing translations for the organization.

**Steps to reproduce**
1. run `ng new .....` (create fresh Angular app)
2. run `ng add @spartacus/schematics@next`
3. run `ng add @spartacus/organization@next`
4. Open any organization page in the storefront and observe missing translations
   ![image](https://user-images.githubusercontent.com/4001059

[2020-11-10 13:32] Platonn commented on #9726
Note: the issue occurs also for the translations of the _order approval_ feature

[2020-11-10 13:35] znikola commented on #8286
PR: #9725

The default OCC prefix is now `/occ/v2`.
The schematics will now generate the `occPrefix` option _only_ if the option is specified by the user.

[2020-11-10 13:35] Platonn commented on #9726
We need to import in app.module:
[code]

[2020-11-10 13:45] znikola opened #9727 "Schematics - generate the Spartacus configuration in a separate file"
As our configuration grows bigger every day, we don't want to pollute customers' `app.module.ts`.
Therefore, the goal of this issue is to generate the Spartacus configuration in a separate file (e.g. `spartacus-configuration.ts` and just import it in the `app.module.ts`.

However, the whole schematics code base assumes that the Spartacus configuration is _always_ present in the `app.module.ts`. In

[2020-11-10 13:47] tobi-or-not-tobi commented on #9727
Additionally, we could import the configuration in a provider, to demonstrate more flexibility to customers to add smaller pieces of configurations in various places. The `provideConfig` is a nice utility function that we could demonstrate for this purpose.

[2020-11-10 14:05] #9677 closed, assigned to dunqan, giancorderoortiz

[2020-11-10 14:10] dunqan commented on #9677
QA steps:

- enable deffered loading:
[code]
- check, if there is no flivker with SSR enabled

[2020-11-10 14:12] plabadie commented on #9690
We'll document these changes instead in order not to delay the release.

[2020-11-10 14:15] plabadie commented on #9697
We'll document these changes instead in order not to delay the release.

[2020-11-10 16:07] #9695 closed, assigned to nobody

[2020-11-10 16:34] #8923 closed, assigned to nobody

[2020-11-10 16:53] plabadie opened #9731 "Approvals bug: rejecting an order without comments closes the form"
Steps to repro:
* As an approver go to the rejection form.
* Click reject without providing a comment.

Expected result:
* An error message is displayed to inform the user that a comment is mandatory

Observed result:
* The rejection for is closed.

[2020-11-10 17:03] hackergil commented on #9673
[Doc PR](https://github.com/SAP/spartacus-docs/pull/856)

[2020-11-10 18:51] #9696 closed, assigned to bgambocjaviniar

[2020-11-10 18:55] plabadie commented on #9731
PR #9735

[2020-11-10 19:30] #9599 closed, assigned to nobody

[2020-11-10 20:27] #9690 closed, assigned to nobody

[2020-11-10 20:37] bgambocjaviniar commented on #9711
PR: GH-9717

[2020-11-10 21:16] ren-tham commented on #9713
Pr: (#9736 )

[2020-11-10 21:32] tobi-or-not-tobi commented on #4226
This is actually not a bug nor a typo. The `[ng-reflect-model]` that is used under the hood has a maximum limit of 30 characters, the rest of the outlet ref is truncated. There are other reasons why this way of debugging the outlets isn't good enough. Long story short, we're not able to fix this, nor do we want the future of outlets/sproutlets to be base on the inline comments that are visible in

[2020-11-10 21:32] #4226 closed

[2020-11-11 01:12] hackergil commented on #7766
Before doing this, order-history-orders-flow for B2C needs to be fixed (since it's flaky)

[2020-11-11 02:34] hackergil opened #9738 "Unauthorized users that try to access the approval dashboard should be redirected to the home page"
When this is fixed, please remember to unskip the corresponding test case on `order-approval.e2e-spec.ts`

[2020-11-11 03:53] medzneel commented on #9261
Links to the wireframes
https://sapse.invisionapp.com/share/A4ZBRHW79SP#/437377408_M_Saved_Cart_List

[2020-11-11 04:01] #9731 closed, assigned to plabadie

[2020-11-11 06:02] ChristophHi opened #9740 "[Major] Extract configurator html from storefrontlib"
See https://github.com/SAP/spartacus/pull/9508/files as template

[2020-11-11 06:20] tobi-or-not-tobi commented on #4724
Related to #4725 and #4726

[2020-11-11 06:24] tobi-or-not-tobi commented on #6243
Removing the bug label as I do not consider this a bug, and closing as there's not much reasonable we can do.

[2020-11-11 06:24] #6243 closed

[2020-11-11 06:31] tobi-or-not-tobi commented on #5709
An empty search should actually show all products, as merchants want to ensure that the search will always produce products. The issue at hand is that the title in the header should be optimised.

[2020-11-11 08:27] steinsebastian commented on #9721
Cypress test is part of PR https://github.com/SAP/spartacus/pull/9729

[2020-11-11 08:39] PascalAOMS opened #9741 "Global Messages with different text reset timer for all (can't repro?)"
**Describe the bug**
When triggering multiple global messages with different text contents one after the other, the last one resets the timer of the previous one.

Issue for custom implementation:
On the cart page a global message is displayed when a product is removed from the cart to show the product name.
Since all product have a different name, global messages are collected one after the other

[2020-11-11 09:59] schuppell commented on #6104
Done in our epic, will be merged in develop once we ship initial VC feature.

[2020-11-11 09:59] #6104 closed

[2020-11-11 10:05] marlass commented on #9607
I tested this and for me everything is working correctly and I was able to extend this service in 1.4.4.

Example I tested on:
[code]

Console log appeared on login and the app was fully functional.

[2020-11-11 10:37] ChristophHi opened #9743 "[Major] Clean up cart-issues-notification, configure-cart-entry, configure-product"

[2020-11-11 10:51] Abi1234-git commented on #9607
Below is the code we were tried

import { ɵn as UserAuthenticationTokenService } from '@spartacus/core';
import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import {
  AuthConfig,
  OccEndpointsService,
  UserToken,
} from '@spartacus/core';
import { Observable, of } from 'rxjs';
@Injectable({
  providedIn: 'root',
})
export class CustomUserAuthentication

[2020-11-11 13:09] marlass commented on #9607
In version 1.4.4 `UserAuthenticationTokenService` is not available under `ɵn`. You should use `ɵbl`.

Under `ɵn` there is `getStorageSyncReducer` and that's why you probably have that error.

[2020-11-11 13:38] #9649 closed, assigned to znikola

[2020-11-11 14:21] giancorderoortiz opened #9745 "B2C Storefront Deployment Via Schematics Fails"
Objective: Deploy latest develop branch with Schematics (Using run.sh script)

**Steps to Reproduce in a Linux Server:**

1. Clone spartacus repo.
2. Navigate to /script/install folder
3. Copy config.default.sh to config.sh
4. Update backend_url to a 2005 configured server.
5. Leave spartacus version as 'latest'
6. Execute ./run.sh install command
7. Execute ./run.sh start
8. Open spartacus storef

[2020-11-11 14:22] giancorderoortiz commented on #9745
Configuration file:

![Screen Shot 2020-11-10 at 7 16 24 PM](https://user-images.githubusercontent.com/46171897/98822872-5b47d900-23ff-11eb-9b9a-07debb15d4ff.png)

Results obtained:
![Screen Shot 2020-11-10 at 7 14 35 PM](https://user-images.githubusercontent.com/46171897/98822868-5aaf4280-23ff-11eb-8deb-6e9e13b74275.png)
![Screen Shot 2020-11-10 at 7 14 55 PM](https://user-images.githubuserconten

[2020-11-11 14:59] giancorderoortiz opened #9747 "Update Backend Servers with 2011"
Update dev servers with 2011:

1. Demo server.  (GC)
2. QA server. (GC)
3. Cluster. x3 -> needs owner
4. Divante servers. x3 -> needs owner
5. Feature Dev servers. x3 -> needs owner.
6. Designate a server as legacy for 2005.
7. Designate a server as legacy for 1905.
8. Update CI server?

hybris-commerce-suite/2011.0/hybris-commerce-suite-2011.0.zip

[2020-11-11 17:30] tobi-or-not-tobi opened #9748 "Move legacy CMS component adapter implementation to separate adapter"
When moving from 1811 to 1905, the CMS api has slightly changed, going from a POST to GET implementation. To be backwards compatible to both systems a `legacy` flag was introduced, which uses an alternative method on the `CmsPageAdapter`. This has caused a few issues:
- the legacy flag is very limited, as it would only address a global legacy dimension. The flag would not be reusable for other bac

[2020-11-11 17:35] giancorderoortiz commented on #9747
Public release:
https://help.sap.com/viewer/dc198ac31ba24dce96149c8480be955f/2011/en-US/8c39dca2866910148073b1b86eeec916.html

[2020-11-11 23:40] mirkosoft commented on #9745
Prompt for credentials is probably caused by not present auth token for the localhost. According to [README](https://github.com/SAP/spartacus/blob/develop/scripts/install/README.md):

[2020-11-12 06:07] akumar-wtc commented on #4500
we faced this issue while after setting up new base store and site .... while doing sync from normal content stage catalog to spa content stage catalog.

INFO  [SyncWorker<000000RT 1 of 1>] [AbstractItemCopyContext] type class change class de.hybris.platform.cms2.jalo.contents.components.CMSFlexComponent -> class de.hybris.platform.acceleratorcms.jalo.components.JspIncludeComponent is not allowed

[2020-11-12 07:12] #9665 closed, assigned to Zeyber

[2020-11-12 09:00] steinsebastian opened #9750 "[Med] Remove trash icon for empty groups."

[2020-11-12 09:26] #9748 closed, assigned to nobody

[2020-11-12 12:02] Zeyber opened #9753 "[needs spike] Reenable DatePicker/DateTimePicker component"
DatePicker/DateTimePicker components and supporting services have been commented out and deprecated for the 3.0 release due to time constraints. This issue is to reintroduce the component by uncommenting existing components and services (ie. files with `**/date-picker**` and `**/date-time-picker**`) and improve them.

We can then reuse these components on existing date/date-time inputs within spar

[2020-11-12 12:03] mirkosoft commented on #9745
Was able to reproduce (blank screen) but only when providing incorrect `BACKEND_URL`. Therefore I think it's related to wrong config for the application. Please re-check with working backend (like https://spartacus-dev0.eastus.cloudapp.azure.com:9002)

UPDATE: Unfortunately I was able to reproduce it (the blank page issue with no errors in the console; no problems with Verdaccio) using installatio

[2020-11-12 12:42] Matejk00 commented on #9695
Please provide QA steps

[2020-11-12 12:59] Xymmer opened #9755 "QA any other features that don't have E2E"
QA any other features that don't have E2E

[2020-11-12 13:46] #9542 closed, assigned to Xymmer

[2020-11-12 13:47] Xymmer commented on #9542
Problems no longer seen

[2020-11-12 13:50] giancorderoortiz commented on #9745
FYI.
This was working on Thursday Nov 5. Broken on Nov 6.

[2020-11-12 13:54] vekterdude commented on #5709
If the search result yielded no results then the page title should read: 0 Results for 'Search term' with 'search term' referring to whatever the user input in to the search form field.

Stretch goal: Guide the user to refine their search with some standard suggestions.

(I will create a wire for this)

[2020-11-12 13:58] #9682 closed, assigned to mirkosoft

[2020-11-12 14:00] hackergil opened #9758 "Failing early login e2e test"

[2020-11-12 14:07] ChristophHi opened #9759 "[Major] Introduce outlets for generic config in PDP, product lists"

[2020-11-12 14:42] tobi-or-not-tobi commented on #7231
Closing, as we dropped the flag with #9748. The good news is that we still support the legacy system, but the code must be added explicitly.

[2020-11-12 14:42] #7231 closed, assigned to nobody

[2020-11-12 14:49] Xymmer opened #9760 "Test how Spartacus/OCC handle when a Commerce Org user belongs to multiple unit families"
Currently we can only assign one unit (a unit in the current root unit family) to a user.
However in Backoffice you can assign a user to multiple unit families.
E.g. you can add Pronto to Mark Rivers Rustic.
In Accelerator, the first unit added in the list is the one that gets used.
For e.g. if you add Pronto to Mark, leaving Custom Retail, Accelerator acts like he's Custom Retail.
If you remove C

[2020-11-12 16:09] ren-tham commented on #9695
QA steps can be found here: https://github.com/SAP/spartacus/issues/8763#issuecomment-700943051

[2020-11-12 16:22] gladius-mtl opened #9763 "Update slack invite with permanent link"
The link in our readme and contributing seems to expire from time to time. This new link is meant to never expire, so we shouldn't have to keep updating this...

https://join.slack.com/t/spartacus-storefront/shared_invite/zt-jekftqo0-HP6xt6IF~ffVB2cGG66fcQ

[2020-11-12 16:25] #8286 closed, assigned to znikola

[2020-11-12 16:33] #9763 closed, assigned to gladius-mtl

[2020-11-12 17:04] Platonn commented on #9484
As discussed offline, we should:
1. add new file `tslint.json` in `organization/administration` folder to enforce prefixing components and directives:
[code]
2. prefix accordingly all components' selectors in `organization/administration` folder with prefix `cx-org`
   1. the feature components (inside folders `/unit`, `/permission`, `/budget`, ...) don't have prefix yet. Let's add it, i.e. `cx-or

[2020-11-12 17:51] bgambocjaviniar commented on #9758
👍

[2020-11-12 18:09] #9697 closed, assigned to nobody

[2020-11-12 19:48] janwidmer commented on #5772
@simonkeytree did you figure something out to make it work via pipeline actions or did you get an answer from the SAP Support request?

[2020-11-12 20:00] #9712 closed, assigned to hackergil

[2020-11-12 20:42] #9553 closed, assigned to plabadie

[2020-11-12 21:04] bgambocjaviniar commented on #8923
LGTM and fixed
- used dev3-azure since I do not want to touch dev0-azure as that's our CI
- however, dev0-azure was already set to out of stock for the product mentioned above

before:
<img width="1118" alt="Screen Shot 2020-11-12 at 4 02 04 PM" src="https://user-images.githubusercontent.com/29099466/98996277-93831080-2500-11eb-9f84-8becccec95ed.png">

after:
<img width="1095" alt="Screen Shot 202

[2020-11-12 23:28] hackergil opened #9768 "B2C Storefront Deployment Via Schematics Fails (SSR only)"
When installing Spartacus using the installation script, the SSR version never responds to the first request (it just hangs).

[2020-11-12 23:29] hackergil commented on #9745
Fixed CSR. SSR is still failing (it hangs). Created #9768 to address it.

[2020-11-13 09:25] tobi-or-not-tobi commented on #2876
Unfortunately the CMS changes have not resulted in the modifiedtime attribute, but somehow have reverted this change. I might misunderstood, or there was some confusion, either way we're converting now in Spartacus converters as we have code (tests mainly) that depends on this. We've also taken the opportunity to improve the code (extensible, readability and decreased objects).

[2020-11-13 09:48] #9758 closed, assigned to kacperknapik

[2020-11-13 09:52] tobi-or-not-tobi commented on #3004
closing as this is no longer relevant, we won't expect customers on pre 1905 to work with Spartacus, and if they would they'd need to bring in the PDP setup themselves.
@Xymmer correct me if I'm wrong.

[2020-11-13 09:52] #3004 closed

[2020-11-13 09:56] kacperknapik commented on #9554
**QA results:**
- no `BasicAuthService`
- login/logout works correctly

[2020-11-13 10:15] Platonn opened #9770 "Broken e2e regression/early-login.e2e-spec.ts"
`regression/early-login.e2e-spec.ts` fails in `spartacus-regression-tests-2005` since run 3​99 (up to run 410).
Please note that run 398 had some changes but was aborted, so those changes could also affect failing 399.

[2020-11-13 10:30] kacperknapik commented on #9770
Duplicate of https://github.com/SAP/spartacus/issues/9758

[2020-11-13 10:30] #9770 closed, assigned to nobody

[2020-11-13 11:11] #9622 closed, assigned to Platonn, marlass

[2020-11-13 11:20] psmul commented on #9034
QA done, unit tests are present and passing

[2020-11-13 11:47] #9714 closed, assigned to nobody

[2020-11-13 12:02] Platonn opened #9771 "Run Travis for partial PRs to epic and feature branches"
Since PR https://github.com/SAP/spartacus/pull/9289 was merged, Travis does not run for partial PRs to `epic` or `feature` branches.
This reduces confidence when merging partial PRs - which affects mostly teams working exclusively for long time only on an epic branch (i.e. `epic/product-configuration`).

[2020-11-13 13:07] Pucek9 opened #9773 "Disable 'Edit' button while we have Edit form open"
For keep consistancy with Add functionality, we should disable Edit button if edit form is already open.

Check on:
- [x] budget details
- [x] cost center details
- [x] unit details
- [x] user details
- [x] user group details
- [x] permission details

[2020-11-13 13:09] Pucek9 opened #9774 "Disable 'Disable' button while we have Edit form open"
Disabling item while have edit form open should be prohibited.

Check on:
- [x] budget details
- [x] cost center details
- [x] unit details
- [x] user details
- [x] permission details

I think enable button should be still avaliable (if is not blocked by other reason) for case if someone open form from url, then he can unblock item and fill the form

[2020-11-13 13:12] markywilson commented on #4724
This issue is still happening and after deeper investigation, it seems that the issue has to do the request mapping in the endpoint. Spartacus makes the right API call with the right params but it gets handled incorrectly.

[2020-11-13 13:12] markywilson commented on #4725
This issue is still happening and after deeper investigation, it seems that the issue has to do the request mapping in the endpoint. Spartacus makes the right API call with the right params but it gets handled incorrectly.

[2020-11-13 13:12] markywilson commented on #4726
This issue is still happening and after deeper investigation, it seems that the issue has to do the request mapping in the endpoint. Spartacus makes the right API call with the right params but it gets handled incorrectly.

[2020-11-13 14:07] psmul commented on #9618
QA done. Redirect works as indended. No errors are shown after login.

[2020-11-13 14:34] #9474 closed, assigned to corey-aloia

[2020-11-13 15:10] #9465 closed, assigned to Pucek9

[2020-11-13 15:49] #9550 closed, assigned to plabadie, WeizhengSap

[2020-11-13 16:06] Manurod2018 commented on #9263
See visuals on Zeplin: https://zpl.io/bLy0DEG

[2020-11-13 16:11] hackergil commented on #9768
It's working now

[2020-11-13 16:11] #9768 closed, assigned to hackergil

[2020-11-13 16:19] bgambocjaviniar commented on #6082
Removing `team/asterix` label as I was told to take this ticket

[2020-11-13 16:25] #9711 closed, assigned to bgambocjaviniar

[2020-11-13 16:29] #9745 closed, assigned to giancorderoortiz

[2020-11-13 16:49] bgambocjaviniar commented on #6082
PR: GH-9779

QA steps:
- make sure Spartacus starts and test overall flow (in general)
- run the e2e suite to make sure nothing breaks. (As long as the result is the same as our current e2e's statuses)

----NOTE
running two jenkins build towards this PR (will post results below when it's ready)
- https://jkmaster.test.c3po.b2c.ydev.hybris.com/job/spartacus-regression-tests-for-branch/458/
- https:

[2020-11-13 17:07] Platonn commented on #9753
One of the reasons to comment out date-time-picker before 3.0 was that it used internally input type `datetime-local` (which is not supported in Firefox and Safari yet).
https://caniuse.com/?search=datetime-local
![image](https://user-images.githubusercontent.com/4001059/99099580-f34dea00-25da-11eb-87dd-8759ea47743b.png)

[2020-11-13 20:53] Xymmer commented on #9262
Source of truth is https://cxwiki.sap.com/display/spar/Bulk+Pricing+Source+of+Truth+Nov+2020
Back to 'to do' as search/category visuals/wires missing

[2020-11-14 08:07] #6082 closed

[2020-11-15 11:27] smolerovic opened #9781 "[test when #9680 is fixed] SimpleResponsiveBannerComponent issue with different browsers"
**Describe the bug**
When I add SimpleResponsiveBannerComponent in Smartedit and add different images for different breakpoints, I am able to see component responsive design only on Mozilla Firefox browser. On Google Chrome and Microsoft Edge responsive design does not work (I am see only first 'widescreen' image).

I am using Spartacus 2.1 version on Linux Kubuntu 20.04. Also using latest version

[2020-11-15 19:04] giancorderoortiz commented on #9745
Issue solved.
Good. Thanks.

[2020-11-15 19:52] tobi-or-not-tobi commented on #9781
@smolerovic this might be caused by #9680, perhaps FF is treating pixel density differently.

[2020-11-15 20:14] giancorderoortiz commented on #8242
![Screen Shot 2020-11-15 at 3 13 37 PM](https://user-images.githubusercontent.com/46171897/99195694-4186f880-2755-11eb-9d21-d45a762c8710.png)
![Screen Shot 2020-11-15 at 3 13 42 PM](https://user-images.githubusercontent.com/46171897/99195696-421f8f00-2755-11eb-8ed7-d7baae71dcec.png)
![Screen Shot 2020-11-15 at 3 14 08 PM](https://user-images.githubusercontent.com/46171897/99195697-421f8f00-2755-11

[2020-11-15 20:14] giancorderoortiz commented on #8242
ok

[2020-11-15 20:34] giancorderoortiz commented on #8869
quotes and returned removed from myCompany menu

![Screen Shot 2020-11-15 at 3 33 50 PM](https://user-images.githubusercontent.com/46171897/99196080-1225bb00-2758-11eb-9be5-eaa3904f69ba.png)

[2020-11-15 20:46] tobi-or-not-tobi opened #9782 "Make star rating disabled by default"
Customers using the star rates to show the product rates would not expect to explicitly set the disabled input to true. There's literally one place where we need the enable the rating (in the create review component).

[2020-11-15 22:15] giancorderoortiz commented on #9267
no pr?

[2020-11-15 22:28] giancorderoortiz commented on #9329
@Manurod2018 please grant me access to sharepoint to view these files.

[2020-11-15 22:35] giancorderoortiz commented on #8552
Will regression/smoke e2e tests be impacted by this visual refresh?
Are there new e2e tests being written that use these new products/categories/banners?

[2020-11-16 10:08] ChristophHi opened #9785 "Service for calling CPQ create configuration, interceptor and access storage service"

[2020-11-16 10:14] ChristophHi opened #9786 "Create models, create normalizers for UI groups and attributes, values: Attribute only single valued with domain"

[2020-11-16 10:18] ChristophHi commented on #9786
Interceptor takes care of CPQ session ID, session ID stored via access-storage.service

[2020-11-16 10:21] #8488 closed, assigned to Xymmer, kacperknapik

[2020-11-16 10:25] ChristophHi opened #9787 "E2e Tests : Create configuration"

[2020-11-16 10:36] giancorderoortiz commented on #9204
This functionality is targeted for which release?

[2020-11-16 10:50] giancorderoortiz commented on #8028
Even though the restrictions have been verified manually, it would have been ideal to show via e2e tests that this critical dashboard is only available for those who actually have access. Not sure if this can be completed prior to 3.0 release.
If not, it should be handled right after. @Xymmer , @zebercut

[2020-11-16 11:15] giancorderoortiz commented on #3690
@zebercut , @Xymmer can this be fixed for 3.0? This minor security/usability issue has been opened for more than 1 year.

[2020-11-16 11:16] znikola commented on #9727
After [this conversation](https://sap-cx.slack.com/archives/GQF7UGB8Q/p1605515794020400) it was decided to park this issue for now.

[2020-11-16 11:17] giancorderoortiz commented on #1622
Actually able to lock account after n unsuccessful attempts. Based on backoffice configuration. Closing ticket.

![Screen Shot 2020-11-16 at 6 16 28 AM](https://user-images.githubusercontent.com/46171897/99246472-586c3000-27d3-11eb-89a1-439717649849.png)

[2020-11-16 11:17] #1622 closed

[2020-11-16 11:18] giancorderoortiz commented on #3031
Threat modelling methodology applied extensively throughout key features of product.
Closing ticket.

[2020-11-16 11:18] #3031 closed

[2020-11-16 12:14] #9528 closed, assigned to wangzixi-diablo

[2020-11-16 12:16] Pucek9 opened #9790 "Lists are not loading after re-login"
Steps to reproduce
1. as logged admin user navigate to e.g. http://localhost:4200/powertools-spa/en/USD/organization/budgets
2. click menu -> Sign out
3. login again
4. Possible internal server error, then: click menu -> My Company, then click link to the same listing page (Budgets) - if no error occures then we will see the result automatically

Actual results:
- infinity ghost page
![image](http

[2020-11-16 13:35] Xymmer commented on #8086
This was in code review but never finished, it's been a while so let's finish this in 3.x

[2020-11-16 13:46] Pucek9 opened #9791 "Handle error responses in local messages"
I think to have access to error response message in component layers, we need save that somewhere in store.

1. Choose the best option:
- additional property there (success, error, loading, value, + errorValue) - will need additional changes in function `getItemStatus`
- if architecture doesnt allow for that, maybe lets put it instead of value or inside value (?)

2. Find all cases like this:
![im

[2020-11-16 13:49] Pucek9 commented on #8907
With reference to [this](https://github.com/SAP/spartacus/pull/9598#pullrequestreview-521654885) comment, we need some mechanism for handle error responses in local messages.
Depends on: #9791

[2020-11-16 14:01] Pucek9 commented on #9558
Probably global message is not ok. So feature depends on #9791

[2020-11-16 14:02] #5652 closed

[2020-11-16 14:20] plabadie commented on #9617
We could redirect to the notFound page and it seems to fix the PDP not found issue, however, redirecting to the notFound page if not the experience we want to provide so far.  We want the not found url to stay in the browser address bar.

It appears the issue with the PDP not found is caused but the fact that all the components on the each page are rendered using the page context in the router sta

[2020-11-16 14:35] Xymmer commented on #9781
we''ll consider this one a duplicate of #9680 but keep it open to test when #9680 is fixed

[2020-11-16 14:38] Xymmer commented on #9741
timeout should be per message but also we want to refactor how global messages appear... putting to future for now

[2020-11-16 14:43] Xymmer commented on #9694
to be investigated @ReneRath can you contact me about priority?

[2020-11-16 14:45] Xymmer commented on #9689
if it's quick fix, for 3.0. if it looks like it might delay 3.0, push it / talk to Bill

[2020-11-16 14:46] #9226 closed, assigned to Xymmer

[2020-11-16 15:03] #9464 closed, assigned to plabadie, WeizhengSap

[2020-11-16 15:11] #9726 closed, assigned to znikola

[2020-11-16 15:49] Xymmer commented on #8488
test locally using develops, anon consent still works as designed, passing

[2020-11-16 16:08] Xymmer opened #9796 "UX for Saved Carts (M)"

[2020-11-16 16:25] giancorderoortiz commented on #9617
@tobi-or-not-tobi, @hackergil please seek comments above by Patrick. What is your opinion?

[2020-11-16 16:34] #9782 closed, assigned to giancorderoortiz

[2020-11-16 16:39] gladius-mtl commented on #9701
Doc PR merged: https://github.com/SAP/spartacus-docs/pull/852

[2020-11-16 16:39] #9701 closed, assigned to gladius-mtl

[2020-11-16 17:01] giancorderoortiz commented on #8755
How many concurrent users is considered heavy load?
What are your immediate expectations after improvements in this ticket are implemented?
By this I mean, what meaningful metric should we establish so we can actually measure an improvement under 'heavy load' ?

[2020-11-16 17:10] #2876 closed

[2020-11-16 17:24] jeannewalters commented on #9263
@Xymmer I added the UI Spec link to the SOT page.

[2020-11-16 17:28] Platonn opened #9797 "Extendability of multi-provided classes - interation 2"
Same as https://github.com/SAP/spartacus/issues/5129. Since the previous ticket was implemented, a year passed and we've added in the codebase a lot of new multi-provided tokens with property `useClass`. This prevents extendability of those classes for customers. We should change it to `useExisting` for tokens provided with `multi: true`.

Optionally, we could try to avoid it happen in future - re

[2020-11-16 17:49] #9333 closed, assigned to Zeyber

[2020-11-16 17:58] Platonn commented on #8907
As discussed offline with @tobi-or-not-tobi, it's an edge case user changes country in his address. So let's postpone it until:
- backend bug is fixed https://cxjira.sap.com/browse/CLC-2105 OR
- we have a better general approach to handling errors https://github.com/SAP/spartacus/issues/7349

Note: The same problem exists also in address-bug, so removing MyCompany-related milestone

[2020-11-16 18:02] Platonn commented on #9791
Related to https://github.com/SAP/spartacus/issues/7349

[2020-11-16 18:04] Platonn commented on #9558
As Bill mentioned, let's tackle in this ticket only:

[2020-11-16 19:38] mszczepaniak opened #9798 "Message service notifications are layered on each other"
This problem is now present only for the type error of messages, because type info disappears automatically.
When the next notification occurs, it should cancel the previous one.

[2020-11-16 20:15] #9713 closed, assigned to nobody

[2020-11-16 20:45] #9504 closed, assigned to hackergil

[2020-11-16 21:34] plabadie commented on #7781
Unable to reproduce on develop branch + dev0 server.
<img width="1680" alt="Screen Shot 2020-11-16 at 4 33 16 PM" src="https://user-images.githubusercontent.com/7065346/99310819-9431e480-2829-11eb-9f84-77b828afc635.png">

[2020-11-16 21:34] #7781 closed, assigned to plabadie, WeizhengSap

[2020-11-16 23:09] Xymmer commented on #9265
Source of truth updated: https://cxwiki.sap.com/display/spar/B2B+Multi-D+Products+SoT+Phase1++Nov+2020

[2020-11-16 23:10] giancorderoortiz commented on #9504
Cool! 👍

[2020-11-17 06:07] ChristophHi commented on #9176
Was done in #9740

[2020-11-17 06:07] #9176 closed, assigned to Platonn

[2020-11-17 08:19] Platonn opened #9801 "UI Error Messages not Shown When "Model-Saving-Error" Generated in Backend"
Follow up based on (2.) from comment https://github.com/SAP/spartacus/issues/9558#issuecomment-721768861

It would be good to tackle it asa part of the general error handling solution. https://github.com/SAP/spartacus/issues/7349

[2020-11-17 08:19] Platonn commented on #9558
Created separate ticket https://github.com/SAP/spartacus/issues/9801- as a follow up for

[2020-11-17 08:19] #9558 closed, assigned to Pucek9

[2020-11-17 08:36] Platonn opened #9802 "E2E product-search-pricing-flow fails (mobile and desktop regression)"
| | |
|-|-|
| Jenkins job | `spartacus-regression-tests-2005` |
| E2E suites | <ul><li>`regression/product-search/product-search-pricing-flow.e2e-spec.ts`</li><li>`mobile/product-search/product-search-pricing-flow-mobile.e2e-spec.ts`</li></ul> |
| Fails since run | `#417` |

[2020-11-17 09:26] marlass opened #9803 "API Extractor not able to parse "import * as __ from __""
Current solution for namespaces that we use relies on export * as grouping them.
Different solution is to rely on namespaces provided by TS.

The current solution makes it impossible to use API extractor for finding breaking changes in our API.

We can try if namespaces are usable solution for this case at all or we should completely drop namespacing actions/selectors and expose them directly.

To

[2020-11-17 09:51] psmul commented on #9709
This doesn't seem to be a bug, nor the fix is required here as additional pagination information might be useful in the future for this model.

[2020-11-17 10:25] #8973 closed, assigned to mszczepaniak

[2020-11-17 10:42] Zeyber opened #9804 "My Company User Password E2E Tests"
E2E Tests to check My Company users can change passwords and login.

[2020-11-17 10:45] tobi-or-not-tobi commented on #4724
Dropping bug label as this is not a Spartacus bug, nor something we can fix in Spartacus. It's a backend bug. It's also a niche, and we shouldn't spend time here imho.

[2020-11-17 10:46] tobi-or-not-tobi commented on #4725
Dropping bug label as this is not a Spartacus bug, nor something we can fix in Spartacus. It's a backend bug. It's also a niche, and we shouldn't spend time here imho.

[2020-11-17 10:51] Zeyber opened #9805 "E2Es for My Company Unit User Role Assignment"
We need e2e tests to test for the assignment of user roles from the Unit details submenu.

[2020-11-17 10:53] Zeyber opened #9806 "E2Es for My Company Units - Delete Address"
There is currently no coverage for deleting a shipping address from the My Company Unit Details submenu.

[2020-11-17 10:57] tobi-or-not-tobi commented on #4726
Dropping bug label as this is not a Spartacus bug, nor something we can fix in Spartacus.
It's an important issue and we must track this, see https://cxjira.sap.com/browse/STING-17 for the backend ticket.

Closing #4724 and #4725 to keep a single ticket in Spartacus to track progress.

[2020-11-17 10:57] #4725 closed

[2020-11-17 10:57] #4724 closed

[2020-11-17 10:58] tobi-or-not-tobi commented on #4724
closing in favour of #4726

[2020-11-17 10:58] tobi-or-not-tobi commented on #4725
closing in favour of #4726

[2020-11-17 10:58] Zeyber opened #9808 "My Company E2Es for Property Links"
In Detail and Form checks for my company pages, we need to check that links navigate to the correct pages. Check is marked inline with `// TODO: Check property links`.

[2020-11-17 10:59] Larisa-Staroverova opened #9809 "[Med] Enhance test coverage"
The list of the files that have a low test coverage
- [x] configurator-group-menu.component.ts
- [x] configurator-attribute-drop-down.component.ts
- [x] configurator-attribute-input-field.component.ts
- [x] configurator-attribute-numeric-input-field.component.ts
- [x] configurator-attribute-radio-button.component.ts
- [x] configurator-form.component.ts
- [x] configurator-group-title.component.ts
-

[2020-11-17 11:02] Zeyber opened #9810 "My Company E2E Pipe Checks in table"
When data is transformed through a pipe. the text is different to what are likely to predict so we need to include the transformation in the tests. The current `useDataPipe` in `my-company-list.ts` implementation is not the proper way to do this. Marked with `// TODO: Think of a way to use some sort of tranformation function/config`.

[2020-11-17 11:06] Zeyber opened #9811 "Refactor My Company E2E Configs"
Current configuration is a bit rigid when scaling or adding new features to the implementation (new sorts of checks). We could alleviate this by having configs be more catered to respective pages as opposed to sharing values between them (eg. `createValue` is checked in details and form but may not necessarily be the same in both. Marked in `my-company-row.config.ts` as `// TODO: move configs into

[2020-11-17 11:30] Abi1234-git commented on #9607
My code is working fine after changing the import to ɵbl. Thanks

[2020-11-17 11:30] #9607 closed, assigned to nobody

[2020-11-17 11:31] Platonn opened #9813 "Budget start/end date lacking the time information"
In #9333 we've just implemented the suggested solution https://github.com/SAP/spartacus/issues/9333#issuecomment-714799752 for date picker.

My concerns:

- architecture: we've used converters layer to convert date vs datetime. Maybe we should have done it rather in the component (so the model that goes through the facade is original datetime)
- UX: currenlty we present budget dates as dates (in p

[2020-11-17 11:46] #9689 closed, assigned to znikola

[2020-11-17 12:12] Platonn commented on #9813
Simplicity of the date-picker component (to be almost-native datepicker) is important.
It would be good not to pollute it with the date<->datetime conversion logic.
We could try to convert it:
   a) in some other date-picker component (which would be more smart: able to convert date<->datetime and show some UX message like "the time will be set midnight of your timezone")
   b) in budget form comp

[2020-11-17 12:14] #8755 closed, assigned to dunqan, giancorderoortiz

[2020-11-17 12:28] Platonn opened #9815 "Prefix component selectors in /budget"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/budget`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:30] Platonn opened #9816 "Prefix component selectors in /cost-center"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/cost-center`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:31] Platonn opened #9817 "Prefix component selectors in /permission"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/permission`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:31] Platonn opened #9818 "Prefix component selectors in /unit"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/unit`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:32] Platonn opened #9819 "Prefix component selectors in /user"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/user`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:32] Platonn opened #9820 "Prefix component selectors in /user-group"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/user-group`
- [ ] Prefix components' selectors with `cx-org-` (but keep components' class and file names as is)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:34] Platonn opened #9821 "Prefix component selectors in /shared"
Part of https://github.com/SAP/spartacus/issues/9484#issuecomment-726208902 ONLY for folder `/shared`
- [ ] Prefix components' selectors with `cx-org-` (instead of `cx-organization-`) (but drop class and filename prefix `Organization` which they have now)
- [ ] fix **css selectors** if needed
- [ ] run and fix **e2e tests** if needed

[2020-11-17 12:43] znikola opened #9823 "Organization schematics should import b2bmodule"
Title.

This should cover the following use cases:

- adding the organization features `ng add @spartacus/organization` to the existing setup should "swap" the b2cmodule with the b2bmodule
- adding the organization features to a new shell app should automatically include the b2bmodule

[2020-11-17 12:45] znikola opened #9824 "Add storefinder schematics"
Title.

[2020-11-17 13:17] #9816 closed, assigned to nobody

[2020-11-17 13:17] #9817 closed, assigned to nobody

[2020-11-17 13:17] #9818 closed, assigned to nobody

[2020-11-17 13:18] #9819 closed, assigned to nobody

[2020-11-17 13:18] #9820 closed, assigned to nobody

[2020-11-17 13:18] #9821 closed, assigned to nobody

[2020-11-17 13:18] #9815 closed, assigned to nobody

[2020-11-17 14:05] #9597 closed, assigned to marlass

[2020-11-17 14:37] #9802 closed, assigned to nobody

[2020-11-17 15:03] #9517 closed, assigned to Xymmer

[2020-11-17 15:18] plabadie commented on #9170
It was discussed with the team that this should be done post 3.0 release in order not to impact the release.

[2020-11-17 15:28] Platonn opened #9827 "Routing console warning in organization item details"
Something that basically looks ugly from developer/customer experience.

When opening the organization item details card (i.e. http://localhost:4200/powertools-spa/en/USD/organization/units/Rustic), the Spartacus routing warning appars in the console:
`semantic-path.service.ts:171 No configured path matches all its params to given object.  Route config:  {paths: Array(1), paramsMapping: {…}} Param

[2020-11-17 15:29] WeizhengSap opened #9828 "Add E2E tests for order cancel/return"
Add e2e test for order cancellation and return.

[2020-11-17 16:15] plabadie opened #9829 "Expose order approval classes to the public api"
We need to be able to import the order approval classes from, the app using the lib.

Improve the public_api.ts

[2020-11-17 17:45] giancorderoortiz commented on #8755
Compare 2.0 against improvements made in this ticket.
Trace through using Dynatrace.

[2020-11-17 18:04] vekterdude commented on #9261
Expected to be finished visuals by Nov. 20, 2020.

[2020-11-17 18:11] vekterdude commented on #9260
To be delivered by Nov. 20, 2020.

[2020-11-17 18:11] medzneel commented on #9223
The UX Spec will be delivered by Nov 20,2020

[2020-11-17 18:12] vekterdude commented on #9272
To be delivered by Nov. 18, 2020

[2020-11-17 18:12] medzneel commented on #9268
UX Spec will be provided on Nov 20,2020

[2020-11-17 18:14] vekterdude commented on #9270
To be delivered by Nov. 19, 2020

[2020-11-17 18:15] medzneel commented on #9275
Spec will be done by nov 20,2020

[2020-11-17 18:17] vekterdude commented on #9273
UX to be done by Nov.17th, 2020.
Assigned to Visuals immediately after.
Visuals to be done by Nov. 20th, 2020.

[2020-11-17 18:19] medzneel commented on #9275
UX Spec will be done by 20,2020

[2020-11-17 18:22] Xymmer opened #9831 "[specs needed] UX for ASM Customer List (M?)"
https://cxwiki.sap.com/display/spar/ASM+Customer+List+SoT

[2020-11-17 18:23] Xymmer opened #9832 "Add E2E tests for order cancel/return"

[2020-11-17 18:41] vekterdude commented on #9831
FYI: Pascal Barbier is the PO / SME for ASM.

[2020-11-17 18:44] vekterdude commented on #9262
To be delivered by Nov. 20, 2020.

[2020-11-17 21:29] Parthlakhani commented on #8823
https://sonarcloud.io/component_measures?id=sap_cloud-commerce-spartacus-storefront&metric=new_reliability_rating&pullRequest=9833&selected=sap_cloud-commerce-spartacus-storefront%3Aprojects%2Fcore%2Fsrc%2Focc%2Fservices%2Focc-fields.service.ts

https://sonarcloud.io/component_measures?id=sap_cloud-commerce-spartacus-storefront&metric=new_reliability_rating&pullRequest=9833&selected=sap_cloud-comm

[2020-11-17 21:38] Parthlakhani commented on #8823
Talked to @hackergil about setting files to ignore in sonarscans, he suggested that changes should be made as suggested by sonar.

[2020-11-18 00:21] carreterosanti opened #9837 ""Locked Scroll Product List Page" when changing from mobile to desktop"
**Bug Description**
With the "Filter By" modal open at the product list page, and then changing to a larger resolution (desktop breakpoint) the ability to scroll the page is disable.
The scrolling is locked because the body has the class "modal-open" asigned, who apply an: `overflow: hidden; `

**Steps to Reproduce**
1. Go to any product list page. (Example: [Canon at the Spartacus Live Demo](http

[2020-11-18 09:23] #8498 closed, assigned to tobi-or-not-tobi

[2020-11-18 09:48] marlass opened #9841 "Missing migrations for anonymous-consents"
Changes not covered with migrations/docs:
![image](https://user-images.githubusercontent.com/6259079/99513856-5f3da300-298b-11eb-9a15-682c6176ba3a.png)

Missing information about dropping `storageSync` (for example search `storageSync` in 3_0.md):
![image](https://user-images.githubusercontent.com/6259079/99514017-91e79b80-298b-11eb-8e0a-bb6461ea1a75.png)

[2020-11-18 09:54] marlass opened #9842 "[IN EPIC] Missing migrations for checkout connector/adapter"
New param:
![image](https://user-images.githubusercontent.com/6259079/99514650-48e41700-298c-11eb-8878-7017052ef11a.png)
![image](https://user-images.githubusercontent.com/6259079/99514708-54cfd900-298c-11eb-90ad-eca17cbb1848.png)

[2020-11-18 09:57] marlass opened #9843 "[IN EPIC] Migration for CheckoutService"
New required param in method:
![image](https://user-images.githubusercontent.com/6259079/99515068-c445c880-298c-11eb-8e50-46e725bf73ce.png)

Different return type:
![image](https://user-images.githubusercontent.com/6259079/99515113-d293e480-298c-11eb-9545-14eb4677ab30.png)

[2020-11-18 10:02] marlass opened #9844 "Migration doc for CheckoutState"
Describe changes (no automatic migration needed) in `checkout-state.ts` interfaces: `CheckoutStepsState` and `CheckoutState`
![image](https://user-images.githubusercontent.com/6259079/99515533-5ea60c00-298d-11eb-8595-9abd30c2c705.png)

[2020-11-18 10:04] marlass opened #9845 "[IN EPIC] Missing migration for checkout selectors"
Missing note about change of return type in one selector.
![image](https://user-images.githubusercontent.com/6259079/99515829-c0ff0c80-298d-11eb-919b-cb0192eeca5a.png)

[2020-11-18 10:05] dunqan commented on #9133
Duplicate of #9617

[2020-11-18 10:19] marlass opened #9846 "Missing migration for configurationFactory"
Function removed from public API (just removed, no alternative):
![image](https://user-images.githubusercontent.com/6259079/99517555-c9f0dd80-298f-11eb-9c5c-71f88f337ef7.png)

[2020-11-18 10:50] marlass opened #9847 "[IN EPIC] Missing migration for TOKEN_REVOCATION_HEADER"
Missing doc and automatic migration:
![image](https://user-images.githubusercontent.com/6259079/99521047-31109100-2994-11eb-8fb0-9e86b370903e.png)

There is not replacement for this. Revoke request is now recognized based on a path, not on a header.

[2020-11-18 10:54] marlass opened #9848 "[IN EPIC] Mention change in RoutingService constructor in migration doc"
There is an automatic migration for this change, but no info in migration doc
![image](https://user-images.githubusercontent.com/6259079/99521534-d0ce1f00-2994-11eb-8dc2-e9a65e67af89.png)

[2020-11-18 11:02] marlass opened #9849 "Mention change in UserOrderService constructor in migration doc"
Mention change in migration doc. Automatic migration already exists for it.
![image](https://user-images.githubusercontent.com/6259079/99522370-d841f800-2995-11eb-9d3f-f5dd9315b03e.png)

[2020-11-18 11:03] marlass opened #9850 "Mention change in UserPaymentService constructor in migration doc"
Mention change in migration doc. Automatic migration already exists for it.

![image](https://user-images.githubusercontent.com/6259079/99522547-16d7b280-2996-11eb-80be-7fc22a398332.png)

[2020-11-18 11:05] marlass opened #9851 "Mention change in UserPaymentService constructor in migration doc"
Mention change in migration doc. Automatic migration already exists for it.
![image](https://user-images.githubusercontent.com/6259079/99522746-4f778c00-2996-11eb-92c4-15a6f588fe1d.png)

[2020-11-18 11:11] #9484 closed, assigned to Platonn, Pucek9

[2020-11-18 11:19] dunqan opened #9853 "feat: Move store finder to separate library"
1. Create new @spartacus/misc library with storefinder entrypoint.
2. Make store finder lazy loadable out of the box.

[2020-11-18 11:43] #9719 closed, assigned to Matejk00, Pucek9

[2020-11-18 12:14] #9853 closed, assigned to dunqan

[2020-11-18 12:27] Platonn commented on #9842
Note: Same for OccCheckoutAdapter

[2020-11-18 12:30] marlass opened #9858 "[IN EPIC] Mention in migration doc removed `StoreFinderSearchConfig`"
There is automatic migration for this change, but there is no information about it in the migration doc.

[2020-11-18 12:43] giancorderoortiz commented on #9517
New visuals deployed here:
http://spartacus-praca5.westeurope.cloudapp.azure.com:4200/electronics-spa/en/USD/ (CSR).
http://spartacus-praca5.westeurope.cloudapp.azure.com:4100/electronics-spa/en/USD/ (SSR).

Looks good.
This ticket can be moved to done.

[2020-11-18 12:44] #9846 closed, assigned to dunqan

[2020-11-18 12:48] marlass opened #9863 "[IN EPIC] Missing migration for ProtectedRoutesGuard"
`canActivate` have different return signature
![image](https://user-images.githubusercontent.com/6259079/99532421-92406080-29a4-11eb-9bc4-6a646501348c.png)

[2020-11-18 12:51] mirkosoft opened #9864 "chore: moved Store-finder migrations"
In order to complete the https://github.com/SAP/spartacus/pull/9838 let's add missing migration script input.

[2020-11-18 12:52] marlass opened #9865 "Missing migration doc info about change of"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-18 12:53] marlass opened #9866 "[IN EPIC] Missing migration doc info about change of `BaseSiteState`"
Doc doesn't mention anything about changed interface `BaseSiteState`

![image](https://user-images.githubusercontent.com/6259079/99532917-5954bb80-29a5-11eb-973b-80e146f3f6d8.png)

[2020-11-18 13:04] marlass opened #9868 "Missing migration for removed `UserGroupList` and `UserSignUp` interfaces from `Occ`"
![image](https://user-images.githubusercontent.com/6259079/99533887-df253680-29a6-11eb-86f8-8fd651825dc1.png)

[2020-11-18 13:07] marlass opened #9869 "[IN EPIC] Missing migration doc about new changes in `UserState`"
![image](https://user-images.githubusercontent.com/6259079/99534208-56f36100-29a7-11eb-9f15-84b93f33192a.png)

[2020-11-18 13:16] marlass opened #9871 "[IN EPIC] Migrations related to `AddedToCartDialogComponent` should be for `AddToCartComponent`"
In changes I see breaking changes in `AddToCartComponent` not in `AddedToCartDialogComponent`. Probably some mistake. Applies to docs and automatic migrations.

[2020-11-18 13:18] shobhitgarg opened #9873 "Qualtrics embedded feedback support in spartacus + unit test if necessary"
**Is your feature request related to a problem? Please describe.**
Users browsing the website should be able to provide feedback via embedded feedback feature of Qualtrics.
The features relies on div IDs or CSS selectors for positioning. In the POC that I did to enable embedded feedback on spartacus PDP page embedded feedback displaced other elements on the page.

**Describe the solution you'd lik

[2020-11-18 13:18] marlass opened #9874 "Missing migration for change in `CartDetailsComponent`"
Different parameter type:
![image](https://user-images.githubusercontent.com/6259079/99535243-ecdbbb80-29a8-11eb-9209-7f771b2c9a57.png)

[2020-11-18 13:20] marlass opened #9875 "[IN EPIC] Missing info about constructor change in `CartNotEmptyGuard`"
Automatic migration exists
![image](https://user-images.githubusercontent.com/6259079/99535399-257b9500-29a9-11eb-8eef-8e30199c68ae.png)

[2020-11-18 13:21] Platonn commented on #9874
Not a breaking change, `OrderEntry` is a superset of properties of `Item`

[2020-11-18 13:21] #9874 closed, assigned to Platonn

[2020-11-18 13:32] marlass opened #9876 "[IN EPIC] Change order of constructor params in `CheckoutProgressMobileTopComponent ` for automatic migration"
Automatic migration can't inject constructor param at the start. It will always be at the end. To fix the automatic migration we need to change order of parameters in a component constructor.

![image](https://user-images.githubusercontent.com/6259079/99536453-adae6a00-29aa-11eb-9b92-d30d7d35b0b3.png)

[2020-11-18 13:36] marlass opened #9878 "[IN EPIC] Change order of constructor params in `DeliveryModeComponent` for automatic migration"
New param in a constructor must be the last one for automatic migration to work.
![image](https://user-images.githubusercontent.com/6259079/99537055-78564c00-29ab-11eb-921a-7c3e9ae5582a.png)